* {
	box-sizing: border-box;
}

body {
	padding-top: 44px;
	font-family: 'Roboto', sans-serif;
}

button {
	cursor: pointer;
}

.wrapper {
	max-width: 1200px;
	margin: auto;	
}


.locked {
	overflow: hidden;
}
/*header*/
.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.header__search {
	width: 57.5%;
}
.header__search input {
	background: #FFFFFF;
	background: url('../img/icons/home.svg') left 11px center no-repeat;
}
.input input {
	padding: 8px 35px;
	width: 100%;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
}
.header__buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header__button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
	border-radius: 2px;
	font-size: 16px;
	color: #595959;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.header__button:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.header__button:active {
	box-shadow: none;
	-webkit-transform: scale(0.98);
	-ms-transform: scale(0.98);
	-o-transform: scale(0.98);
	transform: scale(0.98);
}
.header__button img {
	margin-right: 5px;
	margin-bottom: 2px;
}
.btn {
	height: 40px;
	padding: 0 16px;
}
.btn__primary {
	background: #1890FF;
	color: #fff;
	margin-right: 10px;
	box-shadow: none;
}

/*promo*/
.promo {
	color: #302C34;
	background: #FFF1B8 url('../img/pizza.png') no-repeat;
	background-position: 450px -100px;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
	padding: 68px 0 68px 70px;
}
.promo__title h2 {
	font-weight: 700;
	font-size: 39px;
	line-height: 46px;
}
.promo__subtitle p {
	max-width: 638px;
	font-size: 24px;
	line-height: 28px;
}

/*heading*/
.main {
	margin-top: 16px;
	background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.restraunts {
	margin-top: 60px;
}
.heading {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.heading__title h2 {
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
}
.heading__search {
	width: 25.5%;
}
.heading__search input {
	background: url('../img/icons/search.svg') left 11px center no-repeat;
}


/*cards*/
.cards {
	padding-top: 45px;
	padding-bottom: 65px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.card {
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	overflow: hidden;
	width: 33.333%;
	max-width: 380px;
	margin-bottom: 30px;
	background-color: #fff;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.card:hover {
	-webkit-transform: scale(1.003);
	-ms-transform: scale(1.003);
	-o-transform: scale(1.003);
	transform: scale(1.003);
	-webkit-box-shadow: 0px 8px 40px -5px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 8px 40px -5px rgba(0,0,0,0.9);
	box-shadow: 0px 8px 40px -5px rgba(0,0,0,0.9);
}
.card_restr:hover {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05); 
}
.card__img {
	max-width: 380px;
	max-height: 250px;
}
.card__img img {
	object-fit: cover;
	max-width: 100%;
}
.card__body {
	padding: 20px 24px 35px;
}
.card__heading {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.card__title h3 {
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.card__title h3:hover {
	opacity: .7;
}
.card__time {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background: #262626;
	border-radius: 2px;
	padding: 1px 8px;
}
.card__info {
	margin-top: 12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	max-width: 227px;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
}
.card__rating {
	font-weight: bold;
	color: #FFC107;
}
.card__rating img {
	margin-right: 7px;
}
.card__pay:after {
	content: '';
	width: 5px;
	height: 5px;
	background-color: #8C8C8C;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 13px;
}
.btn__img_restr {
	margin-bottom: -3px;
}
.btn__restr {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.btn__restr:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
.btn__restr:active {
	box-shadow: none;
	-webkit-transform: scale(0.98);
	-ms-transform: scale(0.98);
	-o-transform: scale(0.98);
	transform: scale(0.98);
}

/*footer*/
.footer {
	padding: 60px 0;
}
.footer__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.footer__nav {
	display: inline-block;
	font-size: 18px;
	line-height: 21px;
	color: #595959;
	text-decoration: none;
	margin-right: auto;
	margin-left: 35px;
}
.footer__nav a:hover {
	opacity: 0.7;
}
.footer__nav a {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	color: inherit;
}
.footer__nav a:not(:last-child) {
	margin-right: 15px;
}
.footer__social {
	-ms-align-items: center;
	align-items: center;
}
.footer__social img {
	margin-left: 21px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.footer__social img:hover {
	opacity: .7;
}

/*modal*/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	overflow: hidden;
}
.is-open {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: auto;
}
.modal__body {
	margin: auto;
	padding: 40px 45px;
	max-width: 780px;
	width: 95%;
	min-height: 592px;
	background: #FFFFFF;
	border-radius: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.modal__header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 45px;
}
.modal__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	margin: 0;
}
.modal__close {
	font-size: 38px;
	border: none;
	background: transparent;
}
.modal__rows {
	flex-grow: 1;
}
.modal__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #D9D9D9;
}
.modal__name {
	font-size: 18px;
	line-height: 32px;
}
.modal__price {
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	margin-left: auto;
	margin-right: 45px;
}
.modal__counter {
	width: 41px;
	height: 32px;
	background: #FFFFFF;
	border: 1px solid #40A9FF;
	box-sizing: border-box;
	border-radius: 2px;
	color: #40A9FF;
	font-size: 14px;
	line-height: 22px;
}
.modal__count {
	font-size: 16px;
	line-height: 24px;
	margin: 0 10px;
}
.modal__footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.modal__last_price {
	text-align: center;
	background: #262626;
	border-radius: 5px;
	padding: 15px 20px;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #FAFAFA;
}
.modal__order {
	margin-left: auto;
	margin-right: 10px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	background: #1890FF;
	border-radius: 2px;
	border: 1px solid #1890FF;
	padding: 8px 16px;
	transition: all .4s;

}
.modal__order:hover {
	background: #fff;
	color: #1890FF;
}
.modal__cancel {
	font-size: 16px;
	line-height: 24px;
	color: #595959;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: #fff;
	padding: 8px 16px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.modal__cancel:hover {
	background-color: #595959;
	color: #fff;
}

/*second page*/
.heading-restr {
	justify-content: flex-start;
}
.card__info_restr {
	margin-top: 5px;
}
.heading__title-restr {
	margin-right: 30px;
}
.card__rating-restr {
	margin-right: 15px;
}
.card__pizza-restr {
	margin-left: 10px;
}
.card__title-restr h3{
	margin: 0;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
}
.card__ingredients {
	flex-grow: 2;
}
.card__ingredients p{
	font-size: 18px;
	line-height: 21px;
	color: #8C8C8C;
}
.card__pay-restr {
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
	margin-left: 30px;
}
.card__btns {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: auto;
}
.card__body-rastr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

/*media quaries*/
@media (max-width: 1250px) {
	.wrapper {
		max-width: 960px;
	}
	.promo {
		-webkit-background-size: 600px;
		background-size: 600px;
		background-position: center right -200px;
	}
	.promo__subtitle p {
		max-width: 550px;
	}
	.promo__title h2 {
		font-size: 35px;
	}
	.heading__search {
		width: 40%;
	}

	.card {
		width: 31%;
	}
}

@media (max-width: 968px) {
	.wrapper {
		max-width: 760px;
	}
	body {
		padding-top: 20px;
	}

	.header {
		flex-wrap: wrap;
	}
	.header__search {
		-webkit-order: 5;
		-moz-order: 5;
		-ms-order: 5;
		-o-order: 5;
		order: 5;
		width: 100%;
	}

	.promo {
		margin-top: 25px;
		-webkit-background-size: 500px;
		background-size: 500px;
		background-position: center right -150px;
		padding: 30px;
		padding-right: 0;
	}
	.promo__subtitle p {
		max-width: 450px;
		font-size: 18px;
	}
	.promo__title h2 {
		font-size: 30px;
		line-height: 1.2;
	}

	.restraunts {
   	 	margin-top: 30px;
	}
	.heading__title h2 {
		font-size: 33px;
	}

	.cards {
		padding-bottom: 25px;
	}
	.card {
		width: 48%;
	}
}

@media (max-width: 780px) {
	.wrapper {
		max-width: 568px;
	}

	.btn__primary {
		padding: 0 20px;
	}

	.promo {
		padding: 25px;
		padding-top: 15px;
		text-align: center;
		background-image: none;
	}
	.promo__subtitle p {
		margin: 0 auto;
		max-width: 80%;
	}

	.heading__title h2 {
		font-size: 28px;
	}

	.card {
		width: 49%;
	}
	.card__title h3 {
		font-size: 20px;
	}
	.card__info {
		font-size: 17px;
	}
	.footer {
		padding: 30px 0;
	}
	.footer__row {		
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.footer__nav {
		margin: 0 auto 20px;
		text-align: center;
		order: -1;
		width: 100%;
	}

	.modal {
		overflow: auto;
	}
	.modal__body {
		min-height: 100vh;
		padding: 25px 35px;
	}
	.modal__header {
		margin-bottom: 30px;
	}
	.modal__title {
		font-size: 30px;
		
	}
	.modal__name {
		font-size: 17px;
	}
	.modal__price {
		font-size: 18px;
	}
	.modal__footer {
		margin-top: 10px;
	}
	.modal__last_price {
		padding: 12px 18px;
		font-size: 18px;
	}
	.btn__restr:hover {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

@media (max-width: 580px) {
	.modal__body {
		max-width: 100vw;
		width: 70%;
	}
	.modal__title {
		font-size: 26px;
	}
	.modal__close {
		font-size: 28px;
	}
	.modal__row {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.modal__name {
		margin-bottom: 10px;
		font-size: 19px;
		-webkit-flex: 0 1 100%;
		-moz-flex: 0 1 100%;
		-ms-flex: 0 1 100%;
		-o-flex: 0 1 100%;
		flex: 0 1 100%;
	}
	.modal__price {
		margin-left: 0;
	}
	.modal__footer {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.modal__last {
		background-color: #fff;
		-webkit-flex: 0 1 100%;
		-moz-flex: 0 1 100%;
		-ms-flex: 0 1 100%;
		-o-flex: 0 1 100%;
		flex: 0 1 100%;
		justify-content: center;
	}
	.modal__last_price {
		padding: 14px 15px;
		max-width: 94.484px;
		margin: 0 auto 15px;
	}
	.modal__order {
		margin-left: 0;
	}

	.wrapper {
		max-width: 450px;
	}

	.promo__title h2 {
		font-size: 25px;
	}
	.promo__subtitle p {
		max-width: 90%;
		font-size: 16px;
	}

	.heading {
		display: block;
		text-align: center;
	}
	.heading__title h2 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.heading__search {
		width: 100%;
	}

	.card {
		width: 100%;
		margin: 0 auto 30px;
	}
}

@media (max-width: 480px) {
	.modal__body {
		width: 85%;
	}
	.modal__order {
		padding: 8px 8px;
	}
	.modal__cancel {
		padding: 8px 10px;
	}

	.wrapper {
		max-width: 90%;
	}

	.header__text {
		font-size: 0;
	}

	.promo__title h2 {
		font-size: 20px;
	}
	.promo__subtitle p {
		font-size: 14px;
	}

	.heading__title h2 {
		font-size: 19px;
	}
	.card__img img {
		max-width: 100%;
	}

	.footer__nav {
		font-size: 20px;
		text-align: center;
		line-height: 1.2;
	}
}

@media (max-width: 420px) {
	.modal__body {
		padding: 25px 25px;
		width: 95%;
	}
	.modal__footer {
		font-size: 15px;
	}
	.modal__last_price {
		font-size: 17px;
	}
	.card {
		max-width: 100%;
	}
}






