/*-----Proxima Nova-----*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ProximaNova-Light.woff2") format("woff2"),/* Modern Browsers */
    url("../fonts/ProximaNova-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ProximaNova-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ProximaNova-Light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ProximaNova-Light.svg") format("svg"); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  	url("../fonts/ProximaNova-Bold.woff2") format("woff2"), /* Modern Browsers */
  	url("../fonts/ProximaNova-Bold.woff") format("woff"), /* Modern Browsers */
  	url("../fonts/ProximaNova-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ProximaNova-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ProximaNova-Bold.svg") format("svg"); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Extrabld.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  	url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), /* Modern Browsers */
  	url("../fonts/ProximaNova-Extrabld.woff") format("woff"), /* Modern Browsers */
  	url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ProximaNova-Extrabld.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ProximaNova-Extrabld.svg") format("svg"); /* Legacy iOS */
  font-weight: 800;
  font-style: normal;
}
/*-----Proxima Nova-----*/

/*-----Muller-----*/
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.eot"); /* IE9 Compat Modes */
  src: url("../fonts/MullerLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/MullerLight.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/MullerLight.woff") format("woff"), /* Modern Browsers */
    url("../fonts/MullerLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/MullerLight.otf") format("opentype"), /* Open Type Font */
    url("../fonts/MullerLight.svg") format("svg"); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/MullerRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/MullerRegular.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/MullerRegular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/MullerRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/MullerRegular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/MullerRegular.svg") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/MullerMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/MullerMedium.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/MullerMedium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/MullerMedium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/MullerMedium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/MullerMedium.svg") format("svg"); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/MullerBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/MullerBold.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/MullerBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/MullerBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/MullerBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/MullerBold.svg") format("svg"); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
/*-----Muller-----*/