// кнопки =========================================================================
.btn {
	color: $cwhite;
	font-weight: 700;
}


// forms ====================================================================
.form {
	&__title {
		font-size: 18px;
		line-height: 1.3;
		font-weight: 700;
	}
	&__form {
		margin-top: 25px;
	}
	&__section {
		margin-bottom: 15px;
	}
	&__label {
		font-size: 14px;
		line-height: 1.5;
	}
	&__input {
		width: 100%;
		height: 45px;
		margin-top: 8px;
		padding: 0 12px;
		display: block;
		border: 1px solid #dddddd;
	}
	&__textarea {
		height: 80px;
		padding: 15px 12px;
	}
	&__btn {
		width: 100%;
		height: 63px;
		margin: 15px 0 15px;
		font-size: 18px;
		line-height: 2.2;
		text-align: center;
		border-radius: 5px;
		border: 1px solid #cc0000;
		background-image: -webkit-linear-gradient(bottom, #cc0000 0%, #d00000 100%);
		background-image: -o-linear-gradient(bottom, #cc0000 0%, #d00000 100%);
		background-image: linear-gradient(to top, #cc0000 0%, #d00000 100%);
		@media (max-width: $md3){height: 55px;font-size: 16px;}
		&:hover {
			color: #cc0000;
			background: transparent;
		}
		&:active {
			background: #9a9a9a;
		}
	}
	&__text {
		font-size: 13px;
		line-height: 22/13;
		text-align: center;
	}
}


// pop-ups ====================================================================
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(16, 16, 16, .5);
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__body {
	position: relative;
	padding: 25px 70px;
	z-index: 11;
	font-family: $fz2;
	color: $cblack;
	background: #fff;
}
.thanks-popup__body {
	padding: 35px 55px;
	max-width: 500px;
	text-align: center;
	& .thanks__title {
		margin-bottom: 20px;
	}
	& .thanks__close {
		right: 25px;
	}
}
.popup__title {
	font-size: 18px;
	line-height: 1.3;
	color: #000;
	font-weight: 700;
}
.short-popup__form,
.long-popup__form,
.more-popup__body {
	max-width: 470px;
	@media (max-width: $md4){padding: 20px 45px;}
	@media (max-width: $md4){padding: 20px 35px;}
}
.close {
	position: absolute;
	top: 28px;
	right: 30px;
	background: transparent;
	transition: all .2s;
	@media (max-width: $md4){right: 10px;}
	&:hover {
		opacity: .7;
	}
}
.more__img {
	margin: 25px 0;
	max-height: 140px;
	width: 100%;
}
.more__text {
	font-size: 16px;
	line-height: 1.25;
	font-weight: 300;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}