/*-----Подключение шрифтов-----*/
@import "fonts.scss";
/*-----Подключение шрифтов-----*/

/*-----Обнуление-----*/
@import "nullstyle.scss";
/*-----Обнуление-----*/

//стартовый шаблон------------------------------------------------------------------------------------------------
//mixins-----------------------------------------------------------------------------------------------------------
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }
}

//переменные-------------------------------------------------------------------------------------------------------
$min-width:320px;//для адаптации--------------------
$maxw:940px;
$md1:$maxw+12px;
$md2:880px;
$md3:767.98px;
$md4:479.98px;

$cwhite: #fff; // color: white
$cblack: #000; // color: black
$c313131: #313131; // color: #313131;
$cf5f5f5: #f5f5f5; // color: #f5f5f5;

$fz2: 'Muller'; // font-size 2

body {
	font-family: "Proxima Nova";
	font-weight: 300;
	color: #1c1c1c;
}
// стилизация скроллбара
body::-webkit-scrollbar {
	width: 25px;
}
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	background: $cf5f5f5;
}
body::-webkit-scrollbar-thumb {
	background-image: -webkit-linear-gradient(bottom, #c10a0a 0%, #e32525 100%);
	background-image: -o-linear-gradient(bottom, #c10a0a 0%, #e32525 100%);
	background-image: linear-gradient(to top, #c10a0a 0%, #e32525 100%);
	outline: 1px solid slategrey;
	border-radius: 12px;
}
.wrapper{width: 100%;min-height: 100%;overflow: hidden;@include flexbox();flex-direction: column;}
.container{max-width:$maxw;margin: 0 auto;width: 100%;
	@media (max-width: $md1){max-width: 850px;}
	@media (max-width: $md2){max-width: 750px;}
	@media (max-width: $md3){max-width: none;padding: 0 20px;}
  	@media (max-width: $md4){padding: 0 15px;}
}
//стартовый шаблон------------------------------------------------------------------------------------------------

/*-----header-----*/
@import "header.scss";
/*-----header-----*/

/*-----footer-----*/
@import "footer.scss";
/*-----footer-----*/

/*-----forms-----*/
@import "forms.scss";
/*-----forms-----*/


/*-----Общие стили для повторяющихся блоков и элементов-----*/
.phone {
	line-height: 22px;
	font-weight: 700;
	&:hover {
		text-decoration: underline;
	}
}
.logo {
}
.blocked {
	overflow: hidden;
}
.hide {
	display: none;
}
.title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	@media (max-width: $md2){font-size: 27px;line-height: 1.3;}
	@media (max-width: $md3){font-size: 25px;}
	@media (max-width: $md4){font-size: 22px;}
}
/*-----Общие стили для повторяющихся блоков и элементов-----*/


/*-----lawyer-----*/
.lawyer {
  position: relative;
  padding: 120px 0;
  background: url('../img/bg-blocks/bg-1.png') 0 0 / cover no-repeat;
  color: $cwhite;
  z-index: 0;
  @media (max-width: 1300px){background-position: -300px 0;}
  @media (max-width: 1000px){background-position: -400px 0;}
  @media (max-width: $md1){padding: 85px 0 65px;}
  @media (max-width: $md3){padding: 85px 0 50px;}
  @media (max-width: $md4){padding: 65px 0 40px;}
  @media (max-width: 400px){background-position: -300px 0;}
  &::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
  }
  &__title {
	font-size: 32px;
	line-height: 50px;
	font-weight: 700;
	@media (max-width: $md1){font-size: 28px;}
	@media (max-width: $md2){font-size: 25px;line-height: 1.3;}
	@media (max-width: $md3){font-size: 20px;}
  }
  &__subtitle {
	font-size: 40px;
	font-weight: 800;
	text-transform: uppercase;
	@media (max-width: $md1){font-size: 36px;}
	@media (max-width: $md2){font-size: 32px;}
	@media (max-width: $md3){font-size: 26px;}
  }
  &__text {
	margin: 25px 0 60px;
	font-size: 24px;
	line-height: 32px;
	@media (max-width: $md2){margin: 30px 0 40px; font-size: 22px;}
	@media (max-width: $md3){font-size: 18px;line-height: 1.3;}
  }
  &__subtext {
	font-weight: 700;
  }
  &__btn {
	padding: 20px 45px;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(bottom, #c10a0a 0%, #e32525 100%);
	background-image: -o-linear-gradient(bottom, #c10a0a 0%, #e32525 100%);
	background-image: linear-gradient(to top, #c10a0a 0%, #e32525 100%);
  
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	@media (max-width: 880px){padding: 15px 30px;font-size: 17px;}
	&:hover {
	  background: -webkit-linear-gradient(bottom, #e32525 0%, #c10a0a 100%);
	  background: -o-linear-gradient(bottom, #e32525 0%, #c10a0a 100%);
	  background: linear-gradient(to top, #e32525 0%, #c10a0a 100%);
	}
	&:active {
	  background: -webkit-linear-gradient(bottom, #c10a0a 0%, #e32525 100%);
	  background: -o-linear-gradient(bottom, #c10a0a 0%, #e32525 100%);
	  background: linear-gradient(to top, #c10a0a 0%, #e32525 100%);
	}
  }
}
/*-----lawyer-----*/


/*-----services-----*/
.services {
  padding: 95px 0 15px;
  @media (max-width: $md2){padding-top: 75px;}
  @media (max-width: $md4){padding-top: 50px;}
  &__title {
	line-height: 22px;
	margin-bottom: 75px;
	@media (max-width: 640px){margin-bottom: 50px;}
  }
  &__body {
	@include flexbox();
	flex-wrap: wrap;
	margin: 0 -35px;
	padding-left: 40px;
	@media (max-width: $md1){padding-left: 0;margin: 0 -25px;}
	@media (max-width: $md2){padding-left: 60px;}
	@media (max-width: 640px){padding-left: 15px;margin: 0 -20px;}
	@media (max-width: 540px){display: block;padding-left: 0;margin: 0 auto;}
  }
  &__item {
	width: 33.333%;
	@include flexbox();
	margin: 0 auto 85px;
	padding: 0 35px;
	@media (max-width: $md1){padding: 0 25px;}
	@media (max-width: $md2){width: 50%;margin: 0 auto 65px;}
	@media (max-width: 640px){padding: 0 20px;}
	@media (max-width: 540px){padding: 0;}
  }
  &__img {
	width: 50px;
	height: 50px;
	margin-right: 15px;
  }
  &__text {
	padding-top: 4px;
	font-size: 16px;
	line-height: 22px;
	transition: all .2s;
	&:hover {
	  color: #e61010;
	}
  }
}
/*-----services-----*/



/*-----about-----*/
.about {
  background: url('../img/bg-blocks/bg-2.png') 0 20% / cover no-repeat;
  padding: 95px 0;
  color: $cwhite;
  text-align: center;
  position: relative;
  z-index: 0;
  @media (max-width: $md3){padding: 80px 0 15px;}
  @media (max-width: $md4){padding: 80px 0 5px;}
  &::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
  }
  & .container {
	max-width: 842px;
  }
  &__title {
	line-height: 22px;
	margin-bottom: 80px;
	@media (max-width: $md3){margin-bottom: 50px;}
	@media (max-width: $md4){margin-bottom: 40px;}
  }
  &__text {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin: 0 auto 25px;
  }
  &__statistics {
	padding-top: 55px;
	@include flexbox();
	justify-content: space-between;
	margin: 0 auto;
	@media (max-width: $md3){flex-wrap: wrap;}
  }
  &__item {
	@media (max-width: $md3){flex: 0 1 50%;margin-bottom: 45px;}
	@media (max-width: $md4){flex: 0 1 100%;}
  }
  &__count {
	font-size: 48px;
	line-height: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	min-height: 40px;
	& span {
	  font-size: 24px;
	}
  }
  &__info {
	font-size: 16px;
	line-height: 22px;
	max-width: 152px;
	@media (max-width: $md3){margin: 0 auto;}
  }
}
/*-----about-----*/


/*-----how-----*/
.how {
  padding: 95px 0 50px;
  background-color: $cf5f5f5;
  @media (max-width: $md1){padding: 80px 0 40px;}
  @media (max-width: $md3){padding: 60px 0 20px;}
  &__title {
	line-height: 22px;
  }
  &__items {
	text-align: center;
	margin-top: 95px;
	padding: 0 40px;
	@include flexbox();
	justify-content: space-between;
	@media (max-width: $md1){padding: 0;}
	@media (max-width: $md3){flex-direction: column;margin-top: 60px;}

  }
  &__item {
	flex: 0 1 33.333%;
  }
  &__img {
	min-height: 95px;
	margin-bottom: 45px;
	@media (max-width: $md3){margin-bottom: 30px;}
  }
  &__text {
	max-width: 270px;
	margin: 0 auto 40px;
	font-size: 16px;
	line-height: 22px;
  }
}
/*-----how-----*/


/*-----advantage-----*/
.advantage {
  padding: 95px 0;
  text-align: center;
  @media (max-width: $md1){padding: 80px 0;}
  @media (max-width: $md4){padding: 60px 0;}
  &__title {
  }
  &__body {
	margin-top: 75px;
	@include flexbox();
	align-items: center;
	@media (max-width: $md2){flex-direction: column;}
	@media (max-width: $md4){margin-top: 60px;}
  }
  &__blocks {
	flex: 0 1 68.085106383%;
	@include flexbox();
	color: $cblack;
  }
  &__block {
	padding: 15px 0;
  }
  &__block_reverse {
	text-align: right;
	margin-top: auto;
  }
  &__item {
	font-size: 13px;
	line-height: 45px;
	@media (max-width: $md4){line-height: 15px;margin-bottom: 30px;}
  }
  &__block_color {
	margin-left: 25px;
	padding: 15px 40px;
	color: $cwhite;
	-webkit-filter:  drop-shadow(0px 10px 5px rgba(38,184,58,0.2));
	filter:  drop-shadow(0px 10px 5px rgba(38,184,58,0.2));
	background-color: #26b83a;
	@media (max-width: 620px){padding: 15px 30px;margin-left: 15px;}
	@media (max-width: 340px){padding: 15px 20px;}
  }
  &__block_border {
	border: 1px solid #e8e8e8;
	padding-left: 20px;
	padding-right: 20px;
	@media (max-width: 620px){display: none;}
  }
  &__subtitle {
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
  }
  &__info {
	flex: 0 1 31.914893617%;
	@media (max-width: $md1){padding-left: 20px;}
	@media (max-width: $md2){margin-top: 50px;}
  }
}
.info-advantage {
  font-size: 16px;
  text-align: left;
  @media (max-width: $md2){text-align: center;}
  &__title {
	font-weight: 700;
  }
  &__body {
	margin: 30px 0 25px;
	@media (max-width: $md1){margin: 25px 0;}
	@media (max-width: $md2){margin: 35px 0; @include flexbox();flex-wrap: wrap;align-items: center;justify-content: center;}
	@media (max-width: 620px){display: block;}
  }
  &__text {
	line-height: 45px;
	display: flex;
	align-items: center;
	@media (max-width: $md2){flex: 0 1 35%;}
	@media (max-width: $md3){flex: 0 1 40%;}
	@media (max-width: 700px){flex: 0 1 45%;}
	&::before {
	  content: url('../img/advantage/1.svg');
	  top: 0;
	  left: 0;
	  width: 25px;
	  height: 30px;
	  margin-right: 25px;
	}
	&:nth-child(2)::before {
	  content: url('../img/advantage/2.svg');
	}
	&:nth-child(3)::before {
	  content: url('../img/advantage/3.svg');
	}
	&:nth-child(4)::before {
	  content: url('../img/advantage/4.svg');
	}
  }
  &__count {
	font-weight: 700;
  }
  &__btn {
	display: inline-block;
	padding: 25px 80px;
	font-size: 18px;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(bottom, #c11616 0%, #e32525 100%);
	background-image: -o-linear-gradient(bottom, #c11616 0%, #e32525 100%);
	background-image: linear-gradient(to top, #c11616 0%, #e32525 100%);
	@media (max-width: $md1){padding: 25px 50px;}
	@media (max-width: $md4){padding: 20px 40px;}
	&:hover {
	  background-image: -webkit-linear-gradient(bottom, #e32525 0%, #c11616 100%);
	  background-image: -o-linear-gradient(bottom, #e32525 0%, #c11616 100%);
	  background-image: linear-gradient(to top, #e32525 0%, #c11616 100%);
	}
	&:active {
	  background-image: -webkit-linear-gradient(bottom, #c11616 0%, #e32525 100%);
	  background-image: -o-linear-gradient(bottom, #c11616 0%, #e32525 100%);
	  background-image: linear-gradient(to top, #c11616 0%, #e32525 100%);
	}
  }
}
/*-----advantage-----*/


/*-----consultation-----*/
.consultation {
	padding: 95px 0 75px;
	background: url('../img/bg-blocks/bg-3.png') center bottom / cover no-repeat;
	position: relative;
	z-index: 0;
	@media (max-width: $md2){padding: 90px 0 60px;}
	@media (max-width: $md4){padding: 70px 0 40px;}
	&::before {
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, 0.7);
		z-index: -1;
	}
  &__row {
	@include flexbox();
	align-items: center;
	@media (max-width: $md2){display: block;}
  }
  &__body {
	max-width: 560px;
	@media (max-width: $md2){max-width: none;}
  }
  &__title {
	font-family: $fz2;
	letter-spacing: 2px;
	text-align: left;
	color: $cwhite;
	@media (max-width: $md2){text-align: center;}
  }
  &__steps {
	margin-top: 70px;
	font-family: $fz2;
	font-size: 18px;
	line-height: 1.3;
	color: $cwhite;
	@media (max-width: $md2){margin-top: 50px;}
	@media (max-width: $md4){font-size: 16px;}
  }
  &__step {
	margin-bottom: 20px;
	@include flexbox();
  }
  &__count {
	margin-right: 25px;
	font-family: $fz2;
	font-weight: 500;
	color: #e41e1e;
  }
  &__text {
  }
  &__app-name {
	text-decoration: underline;
  }
  &__imgs {
	text-align: center;
  }
  &__img {
	display: inline-block;
	margin-bottom: 30px;
	@media (max-width: $md2){margin: 20px 25px 0;}
  }
}
/*-----consultation-----*/


/*-----reviews-----*/
.reviews {
	padding: 95px 0 65px;
	font-family: $fz2;
	background-color: $cf5f5f5;
	@media (max-width: $md2){padding: 65px 0;}
	@media (max-width: $md4){padding: 50px 0 40px;}
	&__body {
	}
	&__title {
	}
	&__categories {
		margin: 60px 0 50px;
		@include flexbox();
		justify-content: center;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 1px;
		color: $c313131;
		transition: all .2s;
		@media (max-width: $md3){margin: 40px;flex-wrap: wrap;}
	}
	&__category {
		margin-right: 15px;
		padding: 10px 15px;
		@media (max-width: $md2){margin-right: 10px;}
		@media (max-width: $md3){padding: 10px;}
		&:hover {
			color: #e42626;
		}
	}
	&__videos {
	}
	&__video {
		margin: 0 0 20px;
		& iframe {
			max-width: 100%;
			height: 210px;
		}
	}
	&  .reviews__category.active {
		color: #e50000;
		border: 2px solid #e42626;
		border-radius: 5px;
	}
	& .slick-arrow {
		transform: translateY(-45px);
		@media (max-width: 1024px){width: 0;height: 0;z-index: -5;}

	}
	& .slick-prev {
		transform: translateY(-45px) scaleX(-1);
	}
}
.video-reviews {
	text-align: center;
	&__title {
		max-width: 310px;
		margin: 15px auto 0;
		font-size: 13px;
		font-weight: 300;
		color: $c313131;
		text-align: left;
		transition: all .2s;
		&:hover {
			text-decoration: underline;
			color: #e42626;
		}
	}
}
/*-----reviews-----*/


/*-----partners-----*/
.partners {
	padding: 95px 0 115px;
	font-family: $fz2;
	text-align: center;
	@media (max-width: $md1){padding: 80px 0 70px;}
	@media (max-width: $md3){padding: 50px 0 40px;}
	&__title {
		letter-spacing: 2px;
		color: $c313131;
	}
	&__slider {
		margin-top: 100px;
		font-size: 12px;
		letter-spacing: 1px;
		color: $cwhite;
		@media (max-width: $md1){margin-top: 60px;}
		@media (max-width: $md3){margin-top: 40px;}
	}
	&__item {
		position: relative;
		cursor: pointer;
		&:hover .partners__info {
			opacity: 1;
		}
	}
	&__img {
		text-align: center;
		margin: 0 auto;
	}
	&__info {
		padding: 10px;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		opacity: 0;
		background-color: #26b83a;
		filter: drop-shadow(0px 10px 5px rgba(38,184,58,0.2));
		transition: all .3s;
	}
}
/*-----partners-----*/


/*-----slick slider-----*/
.slick-list {
	position: relative;
}
.slick-arrow {
	font-size: 0;
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	z-index: 3;
	transform: translateY(-50%);
	transition: all .3s;
	background: transparent url('../img/icons/arrow.svg') center no-repeat;
	&:hover {
		background:transparent url('../img/icons/arrow-hover.svg') center no-repeat;
	}
	&:active {
		background:transparent url('../img/icons/arrow.svg') center no-repeat;
	}
}
.slick-prev {
	left: -80px;
	transform: translateY(-50%) scaleX(-1);
	@media (max-width: 1100px){left: -40px;}
}
.slick-next {
	right: -80px;
	@media (max-width: 1100px){right: -30px;}
}
/*-----slick slider-----*/



/*-----tariffs-----*/
.tariffs {
	padding: 95px 0 160px;
	background-color: $cf5f5f5;
	font-family: $fz2;
	color: $c313131;
	@media (max-width: $md3){padding: 70px 0 50px;}
	&__title {
		margin-bottom: 35px;
		letter-spacing: 2px;
		text-align: left;
	}
	&__subtitle {
		max-width: 720px;
		font-size: 18px;
		line-height: 1.3;
		font-weight: 700;
		@media (max-width: $md3){max-width: 660px;font-size: 16px;}
	}
	&__info {
		margin: 40px 0 30px;
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3){flex-direction: column;}
	}
	&__text {
		font-size: 16px;
		@media (max-width: $md3){margin-bottom: 30px;}
	}
	&__links {
		font-size: 14px;
		font-weight: 500;
		text-align: right;
		text-transform: uppercase;
	}
	&__link {
		padding: 8px 14px;	
		transition: all .3s;
		&.active {
			color: #e42626;
			border-radius: 5px;
			border: 2px solid #e42626;
		}
		&:hover {
			color: #e42626;
		}
	}
	&__cards {
		@include flexbox();
		@media (max-width: $md2){flex-wrap: wrap;justify-content: center;}
	}
	&__card {
		flex: 0 1 310px;
		margin-bottom: 25px;
		padding: 45px 30px;
		@media (max-width: $md1){padding: 40px 25px;}
	}
}
.card-tariffs {
	@include flexbox();
	flex-direction: column;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #e8e8e8;
	&__body {
		flex: 1 1 auto;
		color: $cblack;
	}
	&__title {
		font-size: 20px;
		line-height: 1.3;
		&_info {
			display: block;
			font-weight: 700;
		}
	}
	&__img {
		margin: 20px 0 30px;
	}
	&__points {
		font-size: 11px;
		line-height: 1.2;
	}
	&__point {
		margin-bottom: 22px;
		text-align: left;
		display: flex;
		justify-content: space-between;
	}
	&__point_info {
		text-align: right;
		font-weight: 500;
	}
	&__footer {
		margin-top: 45px;
	}
	&__price {
		font-size: 13px;
	}
	&__price_count {
		display: block;
		font-size: 24px;
		line-height: 2.1;
		font-weight: 700;
	}
	&__btns {
		margin-top: 10px;
	}
	&__btn {
		width: 80%;
		height: 55px;
		margin: 10px auto 0;
		display: block;
		font-size: 18px;
		border-radius: 5px;
		background-color: #9a9a9a;
		transition: all .2s;
		@media (max-width: $md4){font-size: 17px;height: 45px;}
		&:hover {
			background-color: #ff2d00;
		}
		&:active {
			background-color: #9a9a9a;
		}
	}
	&__btn_1 { // Ох уж эти вендорные префиксы
		background-image: -webkit-linear-gradient(bottom, #ff2d00 0%, #ff4c25 100%);
		background-image: -o-linear-gradient(bottom, #ff2d00 0%, #ff4c25 100%);
		background-image: linear-gradient(to top, #ff2d00 0%, #ff4c25 100%);
		&:hover {
			background-image: -webkit-linear-gradient(bottom, #ff4c25 0%, #ff2d00 100%);
			background-image: -o-linear-gradient(bottom, #ff4c25 0%, #ff2d00 100%);
			background-image: linear-gradient(to top, #ff4c25 0%, #ff2d00 100%);
		}
		&:active {
			background-image: -webkit-linear-gradient(bottom, #ff2d00 0%, #ff4c25 100%);
			background-image: -o-linear-gradient(bottom, #ff2d00 0%, #ff4c25 100%);
			background-image: linear-gradient(to top, #ff2d00 0%, #ff4c25 100%);
		}
	}
	&__btn_2 {
		background-image: -webkit-linear-gradient(bottom, #008d00 0%, #00a300 100%);
		background-image: -o-linear-gradient(bottom, #008d00 0%, #00a300 100%);
		background-image: linear-gradient(to top, #008d00 0%, #00a300 100%);
		&:hover {
			background-image: -webkit-linear-gradient(bottom, #00a300 0%, #008d00 100%);
			background-image: -o-linear-gradient(bottom, #00a300 0%, #008d00 100%);
			background-image: linear-gradient(to top, #00a300 0%, #008d00 100%);
		}
		&:active {
			background-image: -webkit-linear-gradient(bottom, #008d00 0%, #00a300 100%);
			background-image: -o-linear-gradient(bottom, #008d00 0%, #00a300 100%);
			background-image: linear-gradient(to top, #008d00 0%, #00a300 100%);
		}
		& + .btn:hover {
			background: #008d00;
		}
		& + .btn:active {
			background: #9a9a9a;
		}
	}
	&__btn_3 {
		background-image: -webkit-linear-gradient(bottom, #001b67 0%, #01378f 100%);
		background-image: -o-linear-gradient(bottom, #001b67 0%, #01378f 100%);
		background-image: linear-gradient(to top, #001b67 0%, #01378f 100%);
		&:hover {
			background-image: -webkit-linear-gradient(bottom, #01378f 0%, #001b67 100%);
			background-image: -o-linear-gradient(bottom, #01378f 0%, #001b67 100%);
			background-image: linear-gradient(to top, #01378f 0%, #001b67 100%);
		}
		&:active {
			background-image: -webkit-linear-gradient(bottom, #001b67 0%, #01378f 100%);
			background-image: -o-linear-gradient(bottom, #001b67 0%, #01378f 100%);
			background-image: linear-gradient(to top, #001b67 0%, #01378f 100%);
		}
		& + .btn:hover {
			background: #01378f;
		}
		& + .btn:active {
			background: #9a9a9a;
		}
	}
}
/*-----tariffs-----*/


/*-----contact-block-----*/
.contact-block {
	@include flexbox();
	color: $cblack;
	@media (max-width: $md3){flex-direction: column;}
	&__form {
		flex: 0 1 45%;
		padding: 70px 80px 70px 0;
		background-color: $cf5f5f5;
		@media (max-width: $md1){padding: 70px 60px 70px 0;}
		@media (max-width: $md2){padding: 50px 50px 50px 10px;}
		@media (max-width: $md3){text-align: center;padding: 0 0 30px;}
		& .container {
			max-width: 320px;
			margin-right: 0;
			@media (max-width: $md3){margin-right: auto;max-width: 350px;}
		}
	}
	&__contacts {
		flex: 0 1 55%;
		max-width: 440px;
		padding: 95px 0 0 160px;
		@media (max-width: $md1){padding: 90px 0 0 100px;}
		@media (max-width: $md2){padding: 70px 0 0 70px;}
		@media (max-width: $md3){padding: 40px 0 20px;text-align: center;margin: 0 auto;}
	}
}
.contacts {
	font-weight: 400;
	&__title {
		text-align: left;
		@media (max-width: $md1){text-align: center;}
	}
	&__body {
		margin-top: 70px;
		@media (max-width: $md3){margin-top: 30px;}
	}
	&__section {
	}
	&__label {
		font-size: 13px;
		font-weight: 300;
		line-height: 1.7;
	}
	&__info {
		margin: 6px 0 20px;
		font-size: 17px;
		line-height: 1.3;
		transition: all .2s;
		@media (max-width: $md4){margin: 5px 0 15px;}
		&.mail {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
/*-----contact-block-----*/