@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*::-webkit-input-placeholder {
  font-family: inherit;
  opacity: 1;
}
*:-moz-placeholder {
  font-family: inherit;
  opacity: 1;
}
*::-moz-placeholder {
  font-family: inherit;
  opacity: 1;
}
*:-ms-input-placeholder {
  font-family: inherit;
  opacity: 1;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, nav, aside, footer {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input:invalid {
  box-shadow: none;
}

input, button, textarea {
  font-family: inherit;
}

input[type=search i] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=search]::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #25254e;
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background: #25254e;
}

*::-webkit-scrollbar-thumb {
  background: #ffa820;
  outline: 1px solid slategrey;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1230px) {
  .container {
    max-width: 922px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0 20px;
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}

.header {
  background: #25254e;
}
@media (max-width: 768px) {
  .header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.header__container {
  position: relative;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
.header__logo-img {
  max-width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
@media (max-width: 1230px) {
  .header__logo-img {
    height: 130px;
  }
}
@media (max-width: 992px) {
  .header__logo-img {
    height: 90px;
  }
}
@media (max-width: 992px) {
  .header__logo-img {
    height: 70px;
  }
}
.header__left {
  display: flex;
  align-items: center;
}
.header__menu {
  height: 100%;
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: -150%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #25254e;
    transition: all 0.5s;
    overflow: auto;
  }
  .header__menu.active {
    right: 0;
  }
}
.header__list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .header__list {
    justify-content: center;
    flex-direction: column;
  }
}
.header__item {
  height: 100%;
}
@media (max-width: 768px) {
  .header__item {
    height: auto;
    padding-top: 20px;
    margin-bottom: 10px;
  }
}
.header__link {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 2.6em;
  font-size: 1.15rem;
  color: #fff;
  transition: all 0.3s;
}
@media (max-width: 1230px) {
  .header__link {
    margin-left: 2em;
  }
}
@media (max-width: 768px) {
  .header__link {
    font-size: 1.5rem;
  }
}
.header__link::before, .header__link--active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffa820;
}
@media (max-width: 768px) {
  .header__link::before, .header__link--active::before {
    display: none;
  }
}
.header__link--active {
  font-weight: 700;
}
.header__link:hover, .header__link--active {
  color: #ffa820;
}
.header__link:hover::before, .header__link--active::before {
  width: 100%;
}
.header__btn {
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  z-index: 4;
}
@media (max-width: 1230px) {
  .header__btn {
    margin-left: 40px;
  }
}
@media (max-width: 992px) {
  .header__btn {
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .header__btn {
    margin-right: 45px;
  }
}
@media (max-width: 575px) {
  .header__btn {
    margin-right: 55px;
  }
}
.header__btn:hover {
  background: #fff;
}
.header__btn:active {
  background: #ffa820;
}
.header__search {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #25254e;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.header__search.active {
  opacity: 1;
  visibility: visible;
}
.header__form {
  width: 80%;
}
@media (max-width: 575px) {
  .header__form {
    width: 60%;
  }
}
.header__form-item {
  position: relative;
}
.header__form-item::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 15px;
  width: 50px;
  height: 1px;
  background: #fff;
}
@media (max-width: 992px) {
  .header__form-item::after {
    left: 5px;
  }
}
.header__input {
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  font-size: 1.15rem;
  color: #fff;
}
@media (max-width: 992px) {
  .header__input {
    padding: 10px 5px;
  }
}
.header__input::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
}
.header__input:-moz-placeholder {
  color: inherit;
  font-size: inherit;
}
.header__input::-moz-placeholder {
  color: inherit;
  font-size: inherit;
}
.header__input:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}

.hero {
  position: relative;
  z-index: 0;
  padding: 205px 0 210px;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .hero {
    padding: 120px 0;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 170px 0 100px;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 78, 0.75);
}
.hero__title {
  font-size: 2.69rem;
  font-style: italic;
}
.hero__title span {
  font-size: 4.6rem;
}
@media (max-width: 768px) {
  .hero__title span {
    font-size: 4rem;
  }
}
@media (max-width: 575px) {
  .hero__title span {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 2.4rem;
  }
}
@media (max-width: 575px) {
  .hero__title {
    font-size: 2.2rem;
  }
}
.hero__text {
  max-width: 580px;
  margin: 1.8em auto;
  font-size: 1.15rem;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .hero__text {
    margin: 1.6em auto;
  }
}
.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 478px) {
  .hero__links {
    display: block;
  }
}
.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 50px;
  margin: 0 9px;
  font-size: 1.15rem;
  border: 2px solid #fff;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .hero__link {
    min-width: 130px;
  }
}
@media (max-width: 478px) {
  .hero__link:not(:last-child) {
    margin-bottom: 15px;
  }
}
.hero__link:hover {
  background: #fff;
  color: #25254e;
}
.hero__link--color--brand {
  color: #25254e;
  border: none;
}
.hero__link--big {
  padding: 0 20px;
}

.movies {
  padding: 100px 0;
}
@media (max-width: 1230px) {
  .movies {
    padding: 70px 0 80px;
  }
}
@media (max-width: 992px) {
  .movies {
    padding: 50px 0 60px;
  }
}
@media (max-width: 575px) {
  .movies {
    padding: 50px 0;
  }
}
@media (max-width: 478px) {
  .movies {
    padding: 40px 0;
  }
}
.movies--dark {
  background: #25254e;
}
.movies--dark .slider .swiper-pagination-bullet {
  background: #ccc;
}
.movies--dark .slider .swiper-pagination-bullet-active {
  background: #ffa820;
}
.movies__top {
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .movies__top {
    margin-bottom: 50px;
  }
}
@media (max-width: 478px) {
  .movies__top {
    margin-bottom: 40px;
  }
}
.movies__subtitle {
  margin-top: 18px;
  color: #676767;
}
.movies__subtitle--grey {
  color: #ccc;
}

.video-block {
  position: relative;
  width: 100vw;
  height: auto;
  padding-bottom: 22.2%;
  z-index: 0;
}
.video-block--big {
  padding-bottom: 25%;
}
.video-block--big .vjs-big-play-button::after {
  content: "Trailer";
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.3rem;
  color: #ccc;
  font-family: "Myriad Pro";
}
@media (max-width: 575px) {
  .video-block--big .vjs-big-play-button::after {
    bottom: -40px;
    font-size: 2rem;
  }
}
@media (max-width: 1400px) {
  .video-block {
    padding-bottom: 30%;
  }
}
@media (max-width: 992px) {
  .video-block {
    padding-bottom: 40%;
  }
}
@media (max-width: 575px) {
  .video-block {
    padding-bottom: 50%;
  }
}
@media (max-width: 478px) {
  .video-block {
    padding-bottom: 80%;
  }
}
.video-block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(37, 37, 78, 0.8);
  z-index: 1;
  pointer-events: none;
}
.video-block__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.video-block__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-block__video.vjs-has-started {
  z-index: 2;
}
.video-block .vjs-big-play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #fff;
  font-size: 40px;
  line-height: 1;
  z-index: 2;
}
@media (max-width: 992px) {
  .video-block .vjs-big-play-button {
    width: 80px;
    height: 80px;
  }
}
.video-block__btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  opacity: 0.5;
}
@media (max-width: 575px) {
  .video-block__btn {
    width: 40px;
    height: 40px;
  }
}
.video-block__btn:hover {
  opacity: 1;
}
.video-block__btn--prev {
  left: 30px;
}
@media (max-width: 992px) {
  .video-block__btn--prev {
    left: 20px;
  }
}
@media (max-width: 768px) {
  .video-block__btn--prev {
    left: 15px;
  }
}
.video-block__btn--next {
  right: 30px;
}
@media (max-width: 992px) {
  .video-block__btn--next {
    right: 20px;
  }
}
@media (max-width: 768px) {
  .video-block__btn--next {
    right: 15px;
  }
}
.video-block .vjs-playing .vjs-big-play-button {
  display: none;
}
.video-block .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  width: 24px;
  height: 27px;
  position: static;
}

.audioplayer {
  max-width: 600px;
  width: 100%;
  margin-bottom: 15px;
}

.post {
  color: #676767;
}
.post__title, .post__btn {
  color: #25254e;
}
.post__title {
  font-size: 2.3rem;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .post__title {
    font-size: 1.9rem;
  }
}
.post__title:hover {
  opacity: 0.8;
}
.post__info {
  display: flex;
  align-items: center;
  margin: 1em 0 1.8em;
  font-family: "Myriad Pro";
  font-size: 1.15rem;
}
@media (max-width: 478px) {
  .post__info {
    flex-wrap: wrap;
    margin: 1em 0;
  }
}
.post__info-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
@media (max-width: 478px) {
  .post__info-item {
    margin-bottom: 8px;
  }
}
.post__author {
  transition: all 0.3s;
}
.post__author:hover {
  opacity: 0.8;
}
.post__icon {
  position: relative;
  top: -1px;
  margin-right: 10px;
}
.post__img {
  display: block;
  padding-bottom: 40.235%;
  transition: all 0.5s;
}
@media (max-width: 575px) {
  .post__img {
    padding-bottom: 45%;
  }
}
@media (max-width: 478px) {
  .post__img {
    padding-bottom: 55%;
  }
}
@media (min-width: 768px) {
  .post__img:hover {
    transform: scale(1.2);
  }
}
.post__img-container {
  max-width: 100%;
  max-height: 350px;
  margin-bottom: 30px;
  overflow: hidden;
}
.post__video {
  width: 100%;
  height: 490px;
  margin-bottom: 30px;
}
@media (max-width: 1230px) {
  .post__video {
    height: 325px;
  }
}
@media (max-width: 992px) {
  .post__video {
    height: 409px;
  }
}
@media (max-width: 768px) {
  .post__video {
    height: 56vw;
    margin-bottom: 20px;
  }
}
.post__text {
  line-height: 1.69;
}
.post__text:not(:first-child) {
  margin-top: 25px;
}
.post__btn {
  display: inline-block;
  margin-top: 1em;
  padding: 1.21em 4.33em;
  font-size: 1.15rem;
}
.post__btn:hover {
  background: #25254e;
  color: #ffa820;
}
.post__btn-block {
  display: flex;
  justify-content: flex-end;
}
.post__slider {
  margin-bottom: 30px;
}
.post__citat {
  display: flex;
  margin-top: 30px;
  padding: 40px 35px 30px 30px;
  font-style: italic;
  line-height: 22px;
  background: #eee;
}
@media (max-width: 575px) {
  .post__citat {
    padding: 30px 20px 30px 10px;
  }
}
.post__citat span {
  margin-right: 17px;
  font-family: "Myriad Pro";
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
}
.post__tags {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 575px) {
  .post__tags {
    margin-top: 30px;
  }
}
@media (max-width: 478px) {
  .post__tags {
    flex-wrap: wrap;
  }
}
.post__tags-icon {
  margin-right: 18px;
}
.post__tags-list {
  display: flex;
  align-items: center;
}
@media (max-width: 478px) {
  .post__tags-list {
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 12px;
  }
}
.post__tags-item {
  display: inline-block;
  margin-right: 9px;
  padding: 10px 15px;
  font-family: "Myriad Pro";
  background: #eee;
  transition: all 0.3s;
}
@media (max-width: 478px) {
  .post__tags-item {
    margin-bottom: 12px;
  }
}
.post__tags-item:hover {
  color: #ffa820;
}
.post__tags-share {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background: #ffa820;
}
.post__tags-share svg {
  margin: 0;
}

.sidebar__title {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.53rem;
}
@media (max-width: 992px) {
  .sidebar__title {
    margin-bottom: 1.8em;
  }
}
.sidebar__title:after {
  position: absolute;
  left: 0;
  bottom: -12px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #eee;
}
.sidebar section {
  margin-top: 50px;
}

.seacrh-sidebar {
  display: flex;
  border: 2px solid #25254e;
}
.seacrh-sidebar__input {
  flex: 1 1 auto;
  padding: 21px 0 21px 20px;
  font-size: 1.15rem;
}
.seacrh-sidebar__input::-webkit-input-placeholder {
  font-family: "Myriad Pro";
  color: #ccc;
}
.seacrh-sidebar__input:-moz-placeholder {
  font-family: "Myriad Pro";
  color: #ccc;
}
.seacrh-sidebar__input::-moz-placeholder {
  font-family: "Myriad Pro";
  color: #ccc;
}
.seacrh-sidebar__input:-ms-input-placeholder {
  font-family: "Myriad Pro";
  color: #ccc;
}
.seacrh-sidebar__btn {
  padding: 0 20px;
  transition: all 0.3s;
}
.seacrh-sidebar__btn:hover .icon {
  fill: #ffa820;
}
.categories-sidebar__category {
  margin-bottom: 1.15em;
}
.categories-sidebar__link:hover .categories-sidebar__text {
  color: #ffa820;
}
.categories-sidebar__icon {
  fill: #ffa820 !important;
}
.categories-sidebar__text {
  margin-left: 20px;
  color: #676767;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  .popular-sidebar__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 668px) {
  .popular-sidebar__posts {
    display: block;
  }
}
.popular-sidebar__post {
  display: flex;
  align-items: start;
}
.popular-sidebar__post:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .popular-sidebar__post {
    flex: 0 1 49%;
  }
}
@media (max-width: 668px) {
  .popular-sidebar__post {
    max-width: 500px;
    justify-content: flex-start;
  }
}
.popular-sidebar__img {
  display: inline-block;
  width: 100%;
  padding-bottom: 100%;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .popular-sidebar__img:hover {
    transform: scale(1.2);
  }
}
.popular-sidebar__img-container {
  flex: 0 1 25.94%;
  max-width: 70px;
  max-height: 70px;
  margin-right: 15px;
  overflow: hidden;
}
.popular-sidebar__body {
  flex: 0 1 66%;
}
.popular-sidebar__subtitle {
  font-size: 1.15rem;
  transition: all 0.3s;
}
.popular-sidebar__subtitle:hover {
  opacity: 0.8;
}
.popular-sidebar__author {
  margin: 0.53em 0 1em;
  color: #676767;
  transition: all 0.3s;
}
.popular-sidebar__name {
  font-weight: 700;
  color: #ffa820;
}
.popular-sidebar__text {
  line-height: 1.69;
  color: #676767;
}

.advertisment-sidebar__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #eee;
}
.advertisment-sidebar__text {
  color: #ccc;
}

.tags-sidebar__tags {
  display: flex;
  flex-wrap: wrap;
}
.tags-sidebar__tag-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0 10px 10px 0;
  padding: 0 15px;
  font-family: "Myriad Pro";
  background: #eee;
  color: #676767;
  transition: all 0.3s;
}
.tags-sidebar__tag-link:hover {
  color: #ffa820;
}

.social-sidebar__socials {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .social-sidebar__socials {
    justify-content: flex-start;
  }
}
.social-sidebar__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .social-sidebar__social-link {
    margin-right: 10px;
  }
}
.social-sidebar__social-link:hover {
  opacity: 0.75;
}
.social-sidebar__icon {
  fill: #fff !important;
}
.social-sidebar__fb {
  background: #3b5998;
}
.social-sidebar__youtube {
  background: #cb2026;
}
.social-sidebar__twitter {
  background: #4099ff;
}
.social-sidebar__vk {
  background: #4c75a3;
}

.newsletter-sidebar__form {
  display: flex;
  border: 2px solid #25254e;
}
.newsletter-sidebar__input {
  flex: 1 1 auto;
  padding: 20px 0 20px 23px;
}
.newsletter-sidebar__input::-webkit-input-placeholder {
  font-size: "Myriad Pro";
  color: #ccc;
}
.newsletter-sidebar__input:-moz-placeholder {
  font-size: "Myriad Pro";
  color: #ccc;
}
.newsletter-sidebar__input::-moz-placeholder {
  font-size: "Myriad Pro";
  color: #ccc;
}
.newsletter-sidebar__input:-ms-input-placeholder {
  font-size: "Myriad Pro";
  color: #ccc;
}
.newsletter-sidebar__btn {
  flex: 0 1 auto;
  padding: 0 20px;
  transition: all 0.3s;
}
.newsletter-sidebar__btn:hover .icon {
  fill: #ffa820 !important;
}
.page-navigation {
  display: flex;
  margin-top: 90px;
}
@media (max-width: 992px) {
  .page-navigation {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .page-navigation {
    margin-top: 70px;
  }
}
.page-navigation__icon {
  width: 50px;
  height: 50px;
  fill: #ccc !important;
}
.page-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 2px solid #ccc;
  color: #ccc;
  transition: all 0.3s;
}
.page-navigation__link:hover, .page-navigation__link--active {
  border-color: #ffa820;
  background: #ffa820;
  color: #25254e;
}
.page-navigation__link:hover .browse-movies__icon, .page-navigation__link--active .browse-movies__icon {
  fill: #25254e !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 20;
  transition: all 0.5s;
}
.preloader__item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border: 10px solid #fff;
  border-top-color: #ffa820;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: spin 1s infinite ease-in;
          animation: spin 1s infinite ease-in;
}
.preloader.done {
  visibility: hidden;
  opacity: 0;
}

@-webkit-keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.title {
  font-size: 2.3rem;
  font-weight: 700;
  font-style: italic;
  color: #ffa820;
}
@media (max-width: 575px) {
  .title {
    font-size: 2.1rem;
  }
}

.menu-burger {
  width: 25px;
  height: 20px;
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 768px) {
  .menu-burger {
    display: block;
  }
}
@media (max-width: 478px) {
  .menu-burger {
    right: 20px;
  }
}
.menu-burger::before, .menu-burger::after, .menu-burger__icon {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}
.menu-burger::before {
  top: 0;
}
.menu-burger::after {
  bottom: 0;
}
.menu-burger__icon {
  top: 9px;
}
.menu-burger.active::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px;
}
.menu-burger.active::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 9px;
}
.menu-burger.active .menu-burger__icon {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 70px;
  border-radius: 5%;
  background-color: #ffa820;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}
@media (max-width: 768px) {
  .btn-up {
    display: none;
  }
}
.btn-up:hover {
  opacity: 1;
}
.btn-up__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55px;
  height: 35px;
  transform: translate(-50%, -50%);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__body {
  max-width: 450px;
  padding: 25px 35px;
  background: #fff;
  position: relative;
  opacity: 0;
  transform: translate(0, -100%);
  transition: all 0.5s ease;
}
.popup__title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1em;
}
.popup__text {
  font-size: 1.2rem;
  line-height: 1.1;
}
.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__body {
  opacity: 1;
  transform: translate(0, 0);
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  transition: all 0.3s;
  fill: #25254e;
}
.icon--yellow {
  fill: #ffa820;
}
.icon--grey {
  fill: #ccc;
}
.icon--search, .icon--close {
  display: none;
}
.icon--search.active, .icon--close.active {
  display: block;
}
.icon--search {
  width: 15px;
  height: 15px;
}
.icon--close {
  width: 11px;
  height: 13px;
}
.icon--star {
  width: 13px;
  height: 13px;
  fill: #ffa820;
}
.icon--star--0 {
  fill: #ccc;
}
.icon--cart {
  width: 18px;
  height: 18px;
}
.icon--tag {
  width: 14px;
  height: 15px;
}
.icon--arrow {
  width: 8px;
  height: 12px;
}
.icon--send {
  width: 14px;
  height: 14px;
}
.icon--rss {
  width: 12px;
  height: 13px;
}
.icon--twitter {
  width: 14px;
  height: 12px;
}
.icon--fb {
  width: 15px;
  height: 16px;
}
.icon--youtube {
  width: 18px;
  height: 16px;
}
.icon--vk {
  width: 17px;
  height: 11px;
}
.icon--plus {
  width: 12px;
  height: 12px;
}
.icon--check {
  width: 14px;
  height: 11px;
}
.icon--clock-o, .icon--pencil, .icon--tags {
  width: 15px;
  height: 15px;
}
.icon--share {
  width: 14px;
  height: 14px;
}
.icon--reply, .icon--comment, .icon--comment-o, .icon--user, .icon--email, .icon--message {
  width: 15px;
  height: 12px;
}

.quality {
  display: inline-block;
  padding: 8px;
  color: #fff;
  background-color: #03bb4d;
}

.price {
  font-size: 2.3rem;
}
.price--before {
  font-size: 1.53rem;
  color: #ccc;
}
.price--white {
  color: #fff;
}

@media (max-width: 1230px) {
  .slider {
    max-width: 850px;
  }
}
@media (max-width: 992px) {
  .slider {
    max-width: 560px;
  }
}
@media (max-width: 599px) {
  .slider {
    max-width: 270px;
  }
}
.slider__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 599px) {
  .slider__bottom {
    display: block;
  }
}
.slider__btns {
  display: flex;
}
@media (max-width: 599px) {
  .slider__btns {
    justify-content: center;
    margin-top: 15px;
  }
}
.slider__btn {
  width: 50px;
  height: 50px;
}
.slider__btn::after {
  display: none;
}
.slider__btn:hover {
  background: #25254e;
}
.slider__btn:hover .icon {
  fill: #ffa820;
}
.slider__btn:active {
  background: #676767;
}
.slider .swiper-pagination-bullet {
  background: #25254e;
}

.pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 50%;
  opacity: 1;
}
@media (max-width: 599px) {
  .pagination .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }
}
.pagination .swiper-pagination-bullet-active {
  background: #ffa820;
}

.swiper-wrapper, .swiper-container {
  z-index: 0;
}
.swiper-pagination, .swiper-button-next, .swiper-button-prev {
  position: static;
  margin-top: 0;
  z-index: 0;
}

.slider-post {
  max-width: 870px;
  position: relative;
}
@media (max-width: 1230px) {
  .slider-post {
    max-width: 562px;
  }
}
@media (max-width: 992px) {
  .slider-post {
    max-width: 710px;
  }
}
.slider-post__img {
  width: 100%;
  max-height: 350px;
}
@media (max-width: 575px) {
  .slider-post__img {
    min-height: 190px;
  }
}
.slider-post__btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 575px) {
  .slider-post__btn {
    width: 40px;
    height: 40px;
  }
}
.slider-post__btn:after {
  display: none;
}
.slider-post__btn--next {
  right: 0;
}
.slider-post__btn--prev {
  left: 0;
}
.slider-post__pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
}
.slider-post__pagination .swiper-pagination-bullet {
  width: 16px;
  height: 6px;
  background: #eee;
  border-radius: 0;
}
.slider-post__pagination .swiper-pagination-bullet-active {
  background: #ffa820;
}

.item {
  max-width: 270px;
}
.item__img {
  display: inline-block;
  width: 270px;
  height: 270px;
  margin-bottom: 20px;
  background: #25254e;
  overflow: hidden;
  position: relative;
}
.item__img:hover .item__tags {
  opacity: 1;
  visibility: visible;
}
.item__img img {
  width: 100%;
  height: 100%;
}
.item__tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(37, 37, 78, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.item__tag-btn {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.item__tag-list {
  color: #ccc;
  font-family: "Myriad Pro";
}
.item__title {
  padding-right: 10px;
  font-size: 1.53rem;
  line-height: 1.2;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item__title a {
  display: inline-block;
  transition: all 0.3s;
  max-height: 100%;
}
.item__title a:hover {
  opacity: 0.8;
}
.item__title--white {
  color: #fff;
}
.item__stars {
  margin: 8px 0 15px;
}
.item__star {
  margin-right: 2px;
}
.item__info {
  display: flex;
  align-items: center;
}
.item__price {
  font-family: "Myriad Pro";
}
.item__price--before {
  font-family: "Lato", sans-serif;
  margin-left: 0.75em;
}
.item__qualities {
  margin-left: auto;
}
.item__btn {
  width: 100%;
  margin-top: 23px;
}
.item__cart-icon {
  margin-right: 10px;
}

.dropdown {
  position: relative;
}
.dropdown__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dropdown__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  fill: #fff;
  transform: rotate(90deg) translateX(-50%);
}
.dropdown__items {
  position: absolute;
  top: 105%;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 20px 0;
  background: #353564;
  transition: all 0.35s;
  opacity: 0;
  visibility: hidden;
}
.dropdown__items.active {
  opacity: 1;
  visibility: visible;
}
.dropdown__item {
  padding: 10px 30px;
}
.dropdown__item:hover {
  background: #ffa820;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.locked {
  overflow: hidden;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  body {
    padding-top: 68px;
  }
}

.info-movie__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .info-movie__row {
    display: block;
  }
}
.info-movie__column {
  flex: 0 1 40%;
}
@media (max-width: 992px) {
  .info-movie__column {
    flex: 0 1 45%;
  }
}
.info-movie__column--big {
  flex: 0 1 54%;
}
@media (max-width: 992px) {
  .info-movie__column--big {
    flex: 0 1 50%;
  }
}
.info-movie__img {
  position: relative;
  top: -100px;
  max-width: 470px;
  max-height: 470px;
}
@media (max-width: 1230px) {
  .info-movie__img {
    position: static;
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .info-movie__img {
    max-width: 380px;
    max-height: 380px;
    margin: 25px auto 0;
  }
}
.info-movie__img img {
  width: 100%;
  height: 100%;
}
.info-movie__prices {
  display: flex;
  align-items: center;
}
.info-movie__price--before {
  margin-left: 22px;
}
.info-movie__stars {
  margin: 26px 0 18px;
}
.info-movie__quality {
  margin-right: 2px;
}
.info-movie__synopsis-title {
  margin: 1.6em 0 0.8em;
  font-size: 1.92rem;
}
.info-movie__synopsis-text {
  line-height: 1.69em;
  color: #676767;
}

.column-info {
  padding: 95px 0 40px;
}
@media (max-width: 1230px) {
  .column-info {
    padding: 50px 0 40px;
  }
}
@media (max-width: 478px) {
  .column-info {
    padding: 30px 0;
  }
}
.column-info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .column-info__top {
    display: block;
  }
}
@media (max-width: 768px) {
  .column-info__top {
    display: flex;
  }
}
@media (max-width: 575px) {
  .column-info__top {
    display: block;
  }
}
.column-info__text {
  margin-right: 5px;
}
.column-info__subtitle {
  margin: 16px 0 19px;
  color: #676767;
}
.column-info__tags {
  display: flex;
  align-items: center;
}
.column-info__tag {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background: #03bb4d;
}
@media (max-width: 992px) {
  .column-info__tag {
    margin-bottom: 15px;
  }
}
.column-info__tag-icon {
  fill: #fff;
}
.column-info__tag-list {
  color: #676767;
  font-family: "Myriad Pro";
}
.column-info__btn {
  width: 270px;
}
@media (max-width: 1230px) {
  .column-info__btn {
    width: 220px;
  }
}
@media (max-width: 575px) {
  .column-info__btn {
    width: 100%;
  }
}
.column-info__btn:not(:last-child) {
  margin-bottom: 20px;
}
.column-info__cart-icon {
  margin-right: 18px;
}

.info-plus {
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .info-plus {
    padding-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .info-plus {
    padding-bottom: 30px;
  }
}
.info-plus__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .info-plus__row {
    flex-direction: column;
  }
}
.info-plus__column {
  flex: 0 1 57%;
  padding: 30px 35px;
  background: #f7f7f7;
}
@media (max-width: 1230px) {
  .info-plus__column {
    padding: 30px 25px;
  }
}
@media (max-width: 992px) {
  .info-plus__column {
    margin-bottom: 20px;
  }
}
@media (max-width: 478px) {
  .info-plus__column {
    padding: 25px 20px;
  }
}
.info-plus__column--sm {
  flex: 0 1 40%;
}
@media (max-width: 992px) {
  .info-plus__column--sm {
    order: -1;
  }
}
.info-plus__title {
  margin-bottom: 0.8em;
  font-size: 1.92rem;
}

.reviews__title {
  margin-bottom: 45px;
}
@media (max-width: 478px) {
  .reviews__title {
    margin-bottom: 20px;
  }
}
.reviews__review:not(:last-child) {
  margin-bottom: 45px;
}
@media (max-width: 478px) {
  .reviews__review:not(:last-child) {
    margin-bottom: 20px;
  }
}

.review-reviews {
  display: flex;
}
@media (max-width: 478px) {
  .review-reviews {
    display: block;
  }
}
.review-reviews__img {
  position: relative;
  top: -25px;
  margin-right: 20px;
}
@media (max-width: 478px) {
  .review-reviews__img {
    position: static;
    margin: 0 0 15px 0;
  }
}
.review-reviews__top {
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 478px) {
  .review-reviews__top {
    display: block;
  }
}
.review-reviews__name {
  font-weight: 700;
  color: #676767;
}
@media (max-width: 478px) {
  .review-reviews__name {
    display: inline-block;
    margin-bottom: 0.7em;
  }
}
.review-reviews__job {
  color: #ffa820;
}
.review-reviews__stars {
  margin-left: 20px;
}
@media (max-width: 478px) {
  .review-reviews__stars {
    margin-left: 0;
  }
}
.review-reviews__text {
  line-height: 1.69em;
  color: #aeaeae;
}

.cast__actor {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 478px) {
  .cast__actor {
    display: block;
  }
}
.cast__img {
  margin-right: 20px;
}
@media (max-width: 478px) {
  .cast__img {
    margin: 0 0 15px 0;
  }
}
.cast__person {
  line-height: 1.3;
}
.cast__name {
  font-weight: 700;
  color: #676767;
}
.cast__role {
  color: #ffa820;
}

.btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.15rem;
}
.btn-cart:hover {
  background: #25254e;
  color: #ffa820;
}
.btn-cart:hover .icon {
  fill: #ffa820;
}
.btn-cart:active {
  background: #676767;
}
.btn-cart--grey {
  background: #eee !important;
}

.btn {
  background: #ffa820;
  transition: all 0.3s;
}
.btn--hover:hover {
  background: #fff;
  color: #25254e;
}
.btn--hover:hover .icon {
  fill: #25254e;
}

.lv-comment {
  margin-top: 50px;
}
.lv-comment__title {
  margin-bottom: 50px;
  font-size: 25px;
  color: #353564;
}
@media (max-width: 575px) {
  .lv-comment__title {
    margin-bottom: 30px;
  }
}
.form-comment__label {
  position: relative;
  width: 100%;
  border: 2px solid #25254e;
}
.form-comment__label:not(:last-child) {
  margin-bottom: 18px;
}
.form-comment__label--sm {
  max-width: 370px;
}
@media (max-width: 478px) {
  .form-comment__label--sm {
    max-width: none;
  }
}
.form-comment__label svg {
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
}
.form-comment__input {
  width: 100%;
  padding: 18px 20px 18px 40px;
}
.form-comment__input::-webkit-input-placeholder {
  color: #ccc;
}
.form-comment__input:-moz-placeholder {
  color: #ccc;
}
.form-comment__input::-moz-placeholder {
  color: #ccc;
}
.form-comment__input:-ms-input-placeholder {
  color: #ccc;
}
.form-comment__textarea {
  height: 200px;
  resize: none;
}
.form-comment__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 auto;
  padding: 18px 95px;
  font-family: "Myriad Pro";
  transition: all 0.3s;
}
@media (max-width: 478px) {
  .form-comment__btn {
    width: 100%;
  }
}
.form-comment__btn:hover {
  color: #fff;
  background: #25254e;
}
.form-comment__btn:hover svg {
  fill: #fff;
}
.form-comment__btn svg {
  margin-right: 10px;
}

.footer {
  padding: 55px 0 45px;
  background: #353564;
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 0 35px;
  }
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__row {
    display: block;
    text-align: center;
  }
}
.footer__copy {
  font-size: 1.15rem;
  color: #ccc;
}
@media (max-width: 768px) {
  .footer__copy {
    margin-bottom: 25px;
  }
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.footer__link:hover {
  background: #fff;
}
.footer__link:active {
  background: #676767;
}