.fix {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  outline: none;
}
.color-a {
  background: #fdf5ff;
}
.color-b {
  background: #f8f8f8;
}
.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25), 0px 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25), 0px 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  width: 100%;
}
@media (max-width: 920px) {
  .chat {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
@media (max-width: 560px) {
  .chat {
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.2), 0px 3px 5px rgba(0, 0, 0, 0.2);
    display: block;
  }
}
.chat_left {
  border-right: 1px solid #c1c1c1;
}
@media (max-width: 1300px) {
  .chat_left {
    max-width: 242px;
  }
}
@media (max-width: 920px) {
  .chat_left {
    width: 100%;
  }
}
@media (max-width: 860px) {
  .chat_left,
  .chat_right {
    max-height: 640px;
  }
}
@media (max-width: 560px) {
  .chat_left,
  .chat_left__people {
    max-width: inherit !important;
    max-height: none !important;
  }
}
.chat_left__search > input {
  width: 310px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid #c1c1c1;
  margin: 25px 49px 26px 35px;
  padding-left: 21px;
  padding-right: 35px;
  margin-right: 50px;
  background-image: url(../img/icons/search.png);
  background-repeat: no-repeat;
  background-position: 265px 10px;
}
.chat_left__search > input::-webkit-input-placeholder {
  color: #999;
} 
.chat_left__search > input:-moz-placeholder {
  color: #999;
}     
.chat_left__search > input::-moz-placeholder {
  color: #999;
}    
.chat_left__search > input:-ms-input-placeholder {
  color: #999;
}
@media (max-width: 1300px) {
  .chat_left__search > input {
    width: 180px;
    background-position: 148px 10px;
  }
}
@media (max-width: 860px) {
  .chat_left__search > input {
    position: absolute;
    top: -98px;
    left: 50%;
    width: 254px;
    background-position: 213px 12px;
    transform: translateX(-50%);
  }
}
@media (max-width: 560px) {
  .chat_left__search > input {
    top: -58px;
    left: 0;
    width: 100%;
    height: 56px;
    margin: 0;
    background-position: 96% 18px;
    transform: translateX(0);
    border-radius: 0;
  }
}
.chat_left__people {
  margin-bottom: 23px;
  margin-right: 5px;
  overflow-y: scroll;
  max-height: 600px;
}
@media (max-width: 860px) {
  .chat_left__people {
    min-height: 617px;
  }
}
@media (max-width: 560px) {
  .chat_left__people {
    margin-right: 0;
    margin-bottom: 5px;
    min-height: auto;
    overflow-y: hidden;
  }
}
.chat_left__people::-webkit-scrollbar,
.chat_right__messages::-webkit-scrollbar {
  width: 10px;
}

.chat_left__people::-webkit-scrollbar-track,
.chat_right__messages::-webkit-scrollbar-track {
  box-shadow: none;
  background: transparent;
}

.chat_left__people::-webkit-scrollbar-thumb,
.chat_right__messages::-webkit-scrollbar-thumb {
  width: 10px;
  background: #d2d2d2;
  border-radius: 8px;
}
.chat_left__people-cart {
  position: relative;
  max-width: 370px;
  min-height: 153px;
  margin-right: 9px;
  padding: 26px 0 26px 36px;
  border-left: 3px solid #ffffff00;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .chat_left__people-cart {
    max-width: 239px;
    min-height: 67px;
    margin-right: 6px;
  }
}
@media (max-width: 560px) {
  .chat_left__people-cart {
    max-width: inherit;
    min-height: 100px;
    margin-right: 0;
    padding: 20px 0 20px 30px;
  }
}
.chat_left__people-cart > p {
  margin-bottom: 0;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 600;
}
.chat_left__people-cart > p:nth-child(2) {
  position: absolute;
  right: 20px;
  top: 75px;
}
@media (max-width: 1300px) {
  .chat_left__people-cart > p:nth-child(2) {
    top: 28px;
  }
}
@media (max-width: 560px) {
  .chat_left__people-cart > p:nth-child(2) {
    top: 21px;
  }
}
.chat_left__people-cart > p:nth-child(3) {
  color: #3f3f3f;
  margin-top: 47px;
}
@media (max-width: 1300px) {
  .chat_left__people-cart > p:nth-child(3) {
    margin-top: 14px;
  }
}
.chat_left__people-cart > p:nth-child(4) {
  font-size: 12px;
  color: #777777;
  position: relative;
  margin-left: 20px;
}
.chat_left__people-cart > p:nth-child(4):after {
  content: url(../img/icons/case.png);
  position: absolute;
  left: -20px;
  top: 0;
}
@media (min-width: 560px) {
  .chat_left__people-cart:hover,
  .chat_left__people-cart.active {
    border-left: 3px solid #c280d9;
  }
}

.chat_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 560px) {
  .chat_right__account {
    display: none !important;
  }
}
.chat_right__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #c1c1c1;
}

.chat_right__messages {
  max-height: 555px;
  margin-right: 8px;
  padding: 20px 30px;
  overflow-y: scroll;
}
.chat_right__messages > ul > li {
  max-width: 300px;
  border-radius: 10px;
  padding: 14px 28px 15px 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: Mulish;
  margin: 15px 0;

  position: relative;
  background: #f8f8f8;
  line-height: 1.42;
  color: #000000;
}
@media (max-width: 860px) {
  .chat_right__messages {
    margin-right: 13px;
  padding: 20px 30px 20px 20px;
}
  .chat_right__messages > ul > li {
    max-width: 230px;
  }
}
}
.chat_right__messages > ul > li {
}
.chat_right__messages > ul > li:nth-child(odd):after {
  position: absolute;
  top: 40px;
  left: -10px;
  content: "";
  width: 20px;
  height: 20px;
  background: #F8F8F8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chat_right__messages > ul > li:nth-child(2n) {
  position: relative;
  background: #FFE3DC;
  margin: 0 0 0 auto;
  font-size: 12px;
  line-height: 15px;
  color: #FA4616;
}
.chat_right__messages > ul > li:nth-child(2n):before {
  position: absolute;
  top: 25px;
  right: -10px;
  content: "";
  width: 20px;
  height: 20px;
  background: #FFE3DC;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chat_right__submit {
  border-top: 1px solid #c1c1c1;
  height: 78px;
}
@media (max-width: 860px) {
  .chat_right__submit {
  height: 68px;
}
}
.chat_right__submit > form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.chat_right__submit > form > input:first-child {
  width: 100%;
  border: none;
  padding-left: 20px;
  font-family: Mulish;
  color: #505050;
  font-size: 14px;
}
.chat_right__submit > form > input:first-child::-webkit-input-placeholder {
  color: #505050;
} 
.chat_right__submit > form > input:first-child:-moz-placeholder {
  color: #505050;
}     
.chat_right__submit > form > input:first-child::-moz-placeholder {
  color: #505050;
}    
.chat_right__submit > form > input:first-child:-ms-input-placeholder {
  color: #505050;
}
.chat_right__submit > form > input:nth-child(3) {
  margin: 0 31px 0 15px;
  min-width: 85px;
  min-height: 38px;
  background: linear-gradient(185.51deg, rgba(250, 70, 22, 0.47) 4.4%, #fa4616 44.04%);
  border-radius: 3px;
  border: none;
  /*font-family: Roboto;*/
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}
.name-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1300px) {
  .name-status {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.name-status > p:first-child {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 800;
  color: #5a2c83;
  margin-bottom: 0;
}
@media (min-width: 560px) and (max-width: 1300px) {
  .name-status > p:first-child span {
    display: none;
  }
}
.name-status > p:nth-child(2) {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 600;
  color: #ff8a00;
  background: #fffae6;
  width: 119px;
  border-radius: 3px;
  text-align: center;
  margin-left: 12px;
  margin-bottom: 0;
}
@media (max-width: 1300px) {
  .name-status > p:nth-child(2) {
    margin-left: 0;
    margin-top: 14px;
  }
}
@media (max-width: 560px) {
  .name-status > p:nth-child(2) {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin-top: 0;
  }
}
@media (max-width: 378px) {
  .name-status > p:nth-child(2) {
    right: 20px;
    text-align: right;
  }
}
.account-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.account-info > img {
  width: 55px;
  height: 55px;
  margin: 18px 17px 22px 29px;
}
@media (max-width: 768px) {
  .account-info {
    display: block;
  }
  .account-info > img {
    margin: 10px;
  }
  .account-info__name {
    margin: 0 0 10px 10px;
  }
}
.account-info__name > p {
  margin-bottom: 0;
}
.account-info__name > p:first-child {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 800;
  color: #5a2c83;
}
.account-info__name > p:nth-child(2) {
  font-family: Mulish;
  font-size: 12px;
  color: #505050;
}
.account-go > p {
  margin-bottom: 0;
  font-family: Mulish;
  margin-right: 40px;
}
.account-go > p:first-child {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  color: #602c83;
}
@media (max-width: 860px) {
  .account-go > p {
    margin-right: 25px;
  }
  .account-go > p:first-child {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .account-go > p {
    margin-right: 15px;
  }
}
.account-go > p:first-child:after {
  position: relative;
  content: url(../img/icons/next.png);
  top: 8px;
  margin-left: 8px;
}
.account-go > p:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  color: #9d71c7;
}
label {
  cursor: pointer;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 0;
}
.chat-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 2;
  align-items: center;
}
@media (max-width: 860px) {
  .chat-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    align-items: stretch;
    flex-direction: column;
    position: absolute;
    top: 44px;
    right: 0px;
  }
}
@media (max-width: 560px) {
  .chat-menu {
    top: 75px;
  }
}
.chat-menu > p {
  /*height: 24px;*/
  margin: 0;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 860px) {
  .chat-menu > p:after {
    content: url(../img/dropdown.png);
    position: relative;
    top: 0;
    right: -10px;
  }
}
.chat-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 600;
  height: 24px;
  background: #ededed;
  border-radius: 3px;
  padding: 0 6px;
  margin: 0 5px;
  color: #969696;
  cursor: pointer;
}
.chat-menu__list:hover,
.chat-menu__list.active {
  background: #9d71c7;
  color: #ffffff;
}
@media (max-width: 860px) {
  .chat-menu__list {
    opacity: 0;
    padding: 5px 8px;
  }
}
.point:before {
  content: url(../img/back.png);
  position: relative;
  top: 3px;
  left: -10px;
}

.chat_more-block {
  margin-top: 53px;
  display: none;
  justify-content: center;
  align-items: center;
}
.chat_more {
  min-width: auto;
  padding: 15px 40px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
}

.chat_right__messages > ul > li.chat_right__messages-ellipses {
  max-width: 107px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat_right__messages-ellipses span {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background: #9c9c9c;
  border-radius: 50%;
}
.chat_right__messages-ellipses span:nth-child(2) {
  background: #c4c4c4;
}

.chat_right__messages-ellipses span:nth-child(3) {
  background: #b4b4b4;
}
.chat_right__messages > ul > li.chat_right__messages-ellipses:after {
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  left: -5px;
}

label[for='upload-photo'] {
  margin-bottom: 0;
}
@media (max-width: 560px) {
  .chat_more-block {
    display: flex;
  }
  .chat_right__messages > ul > li,
  .chat_right__messages > ul > li:nth-child(2n) {
    font-size: 16px;
    line-height: 17px;
  }
  .chat_right {
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
  }
  .chat_right__messages > ul > li {
    position: relative;
    background: #f1f1f1;
  }
  .chat_right__messages > ul > li:nth-child(odd):after {
    background: #f1f1f1;
  }
  .chat_right__messages {
    padding: 5px 25px 5px 20px;
  }
  .chat_right__submit > form > input:nth-child(3) {
    min-width: 48px;
    height: 48px;
    font-size: 0;
    background: url('../img/send.svg') 50% 50% no-repeat, linear-gradient(185.51deg, rgba(250, 70, 22, 0.47) 4.4%, #fa4616 44.04%);
  }
  .chat_right__submit form #file-upload {
    margin-left: 25px;
    order: -1;
  }

}