.svg-bell-dims {
  width: 26px;
  height: 26px;
}

.svg-msg-dims {
  width: 35px;
  height: 25px;
}

.svg-AddPost-dims {
  width: 50px;
  height: 48px;
}

.svg-menuIcon-dims {
  width: 24px;
  height: 24px;
}

.svg-portfel-dims {
  width: 21px;
  height: 20px;
}

.svg-project-dims {
  width: 18px;
  height: 18px;
}

.svg-calendar-dims {
  width: 19px;
  height: 19px;
}

.svg-clock-dims {
  width: 18px;
  height: 18px;
}

.svg-in-dims {
  width: 38px;
  height: 38px;
}

.svg-close-dims {
  width: 20px;
  height: 20px;
}

.svg-heart-dims {
  width: 23px;
  height: 20px;
}

.svg-money-dims {
  width: 20px;
  height: 18px;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  color: #595F68;
  background: #fbfbff;
  overflow-x: hidden;
  max-width: 100%;
}

body.overflow {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column
}

a {
  text-decoration: none;
  color: #595F68;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.btn_orange {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.34) 0%, rgba(255, 255, 255, 0) 50%), #FA4616;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 12px 10px;
  min-width: 142px;
}

.btn_white {
  border: 1.2px solid #FA4616;
  background: #fff;
  color: #FA4616;
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 160px;
  margin: 0 10px;
}

header {
  padding: 25px 35px;
  background: #fff;
  width: 100%;
}

header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__left,
header .header__right {
  display: flex;
  align-items: center;
}

header .logo {
  max-width: 96px;
}

header .logo img {
  width: 100%;
}

header nav {
  margin-left: 40px;
}

header nav li {
  display: inline-block;
  list-style: none;
  margin-left: 57px;
}

header nav li a {
  color: #595F68;
  text-decoration: none;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li a:hover {
  color: #FA4616;
  text-decoration: none;
}

header .dropdown {
  padding-right: 15px;
  position: relative;
}

header .dropdown:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 6px;
  transform: translateY(-30%);
  background-image: url("../img/dropdown.png");
}

header .msg,
header .bell {
  position: relative;
  margin-right: 30px;
}

header .msg span.count,
header .bell span.count {
  display: flex;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  background: #FA4616;
  color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(40%, 40%);
}

header .avatar {
  white-space: nowrap;
}

header .my_acc a {
  margin-left: 9px;
  white-space: nowrap;
}

header .bell {
  transform-origin: top center;
}

header .bell:hover {
  -webkit-animation: Bell .5s linear;
          animation: Bell .5s linear;
}

header .toggler {
  display: none;
  width: 35px;
  height: 27px;
  position: relative;
  z-index: 101;
  align-items: center;
}

header .toggler span {
  width: 35px;
  height: 3px;
  background: #FFAF9A;
  border-radius: 5px;
  display: block;
  transition: .3s all ease;
}

header .toggler span::after,
header .toggler span::before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  background: #FFAF9A;
  border-radius: 5px;
  left: 0;
  transition: .3s all ease;
}

header .toggler span::before {
  top: 0;
}

header .toggler span::after {
  bottom: 0;
}

header .toggler.active span {
  transform: rotate(45deg);
}

header .toggler.active span:after {
  transform: rotate(90deg);
}

.menu_mobile {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 100;
  transition: .3s all ease;
  padding: 0 30px;
}

.menu_mobile .logo {
  margin-top: 25px;
}

.menu_mobile .logo img {
  max-width: 90px;
}

.menu_mobile .menu {
  margin-top: 40px;
  text-align: center;
  transition: .3s all ease;
}

.menu_mobile span.name {
  display: block;
  margin-top: 8px;
  font-weight: 600;
  color: #602C83;
}

.menu_mobile .dashboard_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 14px;
}

.menu_mobile .msg {
  position: relative;
}

.menu_mobile .msg span {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #FA4616;
  border-radius: 50%;
  color: #fff;
  bottom: -5px;
  right: -5px;
}

.menu_mobile nav {
  margin-left: 0px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 56px;
}

.menu_mobile nav li {
  display: block;
  list-style: none;
  font-size: 18px;
  margin-bottom: 36px;
}

.menu_mobile nav li a {
  color: #595F68;
  text-decoration: none;
}

.menu_mobile nav li:first-child {
  margin-left: 0;
}

.menu_mobile nav li a:hover {
  color: #FA4616;
  text-decoration: none;
}

.menu_mobile .dropdown {
  padding-right: 0px;
  position: relative;
}

.menu_mobile .dropdown a {
  position: relative;
}

.menu_mobile .dropdown a:after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  width: 12px;
  height: 6px;
  transform: translateY(-30%);
  background-image: url("../img/dropdown.png");
}

.menu_mobile button.btn_orange {
  font-weight: 700;
  padding: 15px 40px;
}

.menu_mobile button.btn_orange img {
  position: relative;
  top: -2px;
}

.menu_mobile .slide_container {
  position: relative;
}

.menu_mobile .menu.hide {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

.menu_mobile .dashboard {
  width: 100%;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
  position: absolute;
  top: 0;
  left: 0;
}

.menu_mobile .dashboard .dashboard_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 60px;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

.menu_mobile .dashboard .icon_wrapper {
  position: relative;
  display: inline-block;
  left: -12px;
  min-height: 24px;
}

.menu_mobile .dashboard .icon_wrapper img {
  position: absolute;
  height: 24px;
  width: auto;
}

.menu_mobile .dashboard .icon_wrapper img.icon_hover {
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
}

.menu_mobile .dashboard .btn_container {
  grid-column: 1/3;
}

.menu_mobile .dashboard .btn_container button img {
  margin-right: 10px;
}

.menu_mobile .dashboard a {
  display: inline-block;
}

.menu_mobile .dashboard a:hover .icon_wrapper img.icon_hover,
.menu_mobile .dashboard a.active .icon_wrapper img.icon_hover {
  opacity: 1;
  visibility: visible;
}

.menu_mobile .dashboard.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.menu_mobile.show {
  opacity: 1;
  visibility: visible;
}

main.with_sidebar {
  display: flex;
}

main.with_sidebar .main_content {
  width: 100%;
  background: #FBFBFF;
}

main.with_sidebar .main_content .container {
  padding: 30px 70px 0px 70px;
  position: relative;
}

main.with_sidebar .breadcrumbs {
  position: absolute;
  top: 30px;
  right: 70px;
}

main.with_sidebar .breadcrumbs a {
  display: inline-block;
  color: #606060;
  font-size: 12px;
  text-decoration: none;
}

main.with_sidebar .breadcrumbs a:not(:last-child)::after {
  content: ' >';
}

main.with_sidebar .breadcrumbs a.current {
  color: #602C83;
}

main.with_sidebar h1 {
  color: #FA4616;
  margin-top: 10px;
  margin-bottom: 10px;
}

main.with_sidebar h2 {
  color: #606060;
}

main.with_sidebar h2 span {
  color: #9D71C7;
}

main.with_sidebar .sort {
  text-align: right;
  position: relative;
  margin-top: 20px;
}

main.with_sidebar .sort span {
  position: relative;
  padding-right: 20px;
  color: #9D71C7;
  font-weight: 700;
  cursor: pointer;
}

main.with_sidebar .sort span.sort_trigger::after {
  content: '';
  position: absolute;
  right: 0;
  top: 35%;
  width: 14px;
  height: 8px;
  background-image: url(../img/sort_btn.png);
  background-repeat: no-repeat;
}

main.with_sidebar .sort .sort_items {
  position: absolute;
  bottom: -15px;
  right: 0px;
  transform: translateY(100%);
  background: #fff;
  box-shadow: 0px 7px 12px -10px #595F68;
  display: none;
  z-index: 10;
}

main.with_sidebar .sort .sort_items ul {
  padding-left: 0;
  margin-bottom: 0;
}

main.with_sidebar .sort .sort_items ul li {
  list-style: none;
  padding: 10px 45px;
  text-align: left;
}

main.with_sidebar .sort .sort_items ul li.active,
main.with_sidebar .sort .sort_items ul li:hover {
  background: #9D71C7;
}

main.with_sidebar .sort .sort_items ul li.active a,
main.with_sidebar .sort .sort_items ul li:hover a {
  color: #fff;
  text-decoration: none;
}

main.with_sidebar .sort .sort_items ul li:last-child {
  margin-bottom: 0;
}

main.with_sidebar .result {
  width: 100%;
  margin-top: 40px;
  background: #fff;
  box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.15), 0px 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

main.with_sidebar .result .variant {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D1D1D1;
}

main.with_sidebar .result .variant .info {
  display: flex;
  position: relative;
}

main.with_sidebar .result .variant .info h3 {
  font-family: 'Raleway', sans-serif;
  color: #602C83;
}

main.with_sidebar .result .variant .info .subtitle {
  font-weight: 600;
}

main.with_sidebar .result .variant .info .subtitle img {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

main.with_sidebar .result .variant .info .tag {
  padding: 5px 11px;
  margin-left: 18px;
  border-radius: 5px;
  position: relative;
  top: -5px;
  display: inline-block;
}

main.with_sidebar .result .variant .info .tag.new {
  background: #FA4616;
  color: #fff;
}

main.with_sidebar .result .variant .info .tag.red {
  background: #FFE3DC;
  color: #FA4616;
}

main.with_sidebar .result .variant .info .tag.yellow {
  background: #FFFAE5;
  color: #FFA400;
}

main.with_sidebar .result .variant .info .tag.blue {
  background: #EDFCFF;
  color: #00BADD;
}

main.with_sidebar .result .variant .info .tag_container {
  padding-right: 80px;
}

main.with_sidebar .result .variant .dop_info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

main.with_sidebar .result .variant .dop_info img {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

main.with_sidebar .result .variant .dop_info .svg-calendar-dims,
main.with_sidebar .result .variant .dop_info .svg-money-dims {
  margin-left: 25px;
}

main.with_sidebar .result .variant .dop_info span {
  font-weight: 600;
  line-height: 17px;
}

main.with_sidebar .result .variant .dop_info.mobile {
  display: none;
}

main.with_sidebar .result .variant .tags {
  display: flex;
  justify-content: flex-end;
}

main.with_sidebar .result .variant .tags .tag {
  padding: 7px 14px;
  background: #F1E2FF;
  border-radius: 5px;
  display: inline-block;
  max-height: 30px;
  margin-right: 10px;
}

main.with_sidebar .result .variant .tags .tag p {
  margin: 0;
  padding: 0;
  line-height: 14px;
}

main.with_sidebar .result .variant .tags .more {
  background: #F1E2FF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.with_sidebar .result .variant .tags .more p {
  margin: 0;
  line-height: 14px;
}

main.with_sidebar .result .variant .right_side .btn_container {
  text-align: right;
  margin-top: 75px;
  display: flex;
  justify-content: flex-end;
}

main.with_sidebar .result .variant .right_side .btn_container button img {
  width: 12px;
  height: 12px;
  position: relative;
  top: -2px;
  margin-right: 10px;
}

main.with_sidebar .result .variant .right_side .btn_container .btn_white {
  padding: 12px 20px;
  margin-right: 0;
}

main.with_sidebar .result .variant .matches span {
  font-family: 'Raleway', sans-serif;
  color: #FA4616;
}

main.with_sidebar .result .variant .matches .people_avatars {
  display: flex;
  margin-left: 10px;
}

main.with_sidebar .result .variant .matches .people_avatars .human {
  overflow: hidden;
  border-radius: 50%;
  margin-left: 8px;
  margin-bottom: 14px;
  margin-top: 12px;
}

main.with_sidebar .result .variant .matches .people_avatars .human:nth-child(n+6) {
  display: none;
}

main.with_sidebar .result .variant .matches .people_avatars .more {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #F6E4FF;
  margin-left: 8px;
  margin-bottom: 14px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.with_sidebar .result .variant .matches .people_avatars .more span {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #602C83;
}

main.with_sidebar .result .variant .matches .people_avatars .more a:hover {
  text-decoration: none;
}

main.with_sidebar .result .variant .matches .btn_container {
  display: flex;
  justify-content: flex-end;
}

main.with_sidebar .result .variant:last-child {
  border-bottom: none;
}

main.with_sidebar br.tablet {
  display: none;
}

aside {
  width: 23%;
  padding: 50px 0px 0px 0px;
  background: #fff;
  margin-bottom: -110px;
}

aside .add_new {
  background: #FFD9CF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

aside .add_new img {
  position: relative;
  left: 4px;
}

aside .new_work {
  text-align: center;
  color: #FA4616;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

aside .new_work p {
  margin-top: 6px;
}

aside nav {
  margin-left: 46px;
  margin-top: 78px;
}

aside nav li {
  cursor: pointer;
  list-style: none;
  margin-left: 40px;
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 32px;
  transition: .3s all ease;
}

aside nav li a {
  transition: .3s all ease;
}

aside nav li .icon_wrapper {
  width: 24px;
  height: 24px;
  left: -40px;
  position: absolute;
}

aside nav li .icon_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}

aside nav li .icon_hover {
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
}

aside nav li.dropdown a.main_link {
  position: relative;
}

aside nav li.dropdown a.main_link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-30%);
  width: 12px;
  height: 18px;
  background-image: url(../img/dropdown_menu.png);
  background-repeat: no-repeat;
  transition: .3s all easy;
}

aside nav li.dropdown ul {
  display: none;
  padding-left: 0;
  margin-top: 32px;
}

aside nav li.dropdown ul li {
  margin-bottom: 20px;
  margin-left: 10px;
}

aside nav li.dropdown ul li a {
  color: #969696;
}

aside nav li:hover a.main_link,
aside nav li.active a.main_link {
  color: #FA4616 !important;
  text-decoration: none;
}

aside nav li:hover a.main_link::after,
aside nav li.active a.main_link::after {
  background-image: url(../img/dropdown_menu_active.png);
}

aside nav li:hover .icon_hover,
aside nav li.active .icon_hover {
  opacity: 1;
  visibility: visible;
}

aside nav li a:hover,
aside nav li a.active {
  color: #FA4616;
  text-decoration: none;
}

aside nav li.dropdown.active {
  height: auto;
}

aside nav li.dropdown.active a::after {
  background-image: url(../img/dropdown_menu_active.png);
}

aside.tablet {
  display: none;
  width: 100%;
  background: #fff;
  margin-bottom: 0;
  padding-top: 10px;
}

aside.tablet .sidebar_content {
  display: flex;
  justify-content: space-between;
}

aside.tablet .sidebar_content .add_new {
  border-radius: 5px;
  margin: 0;
  width: auto;
  height: auto;
  padding: 10px 21px 10px 15px;
  display: flex;
  align-items: center;
}

aside.tablet .sidebar_content .add_new .svg-AddPost-dims {
  width: 30px;
  height: 30px;
}

aside.tablet .sidebar_content .add_new P {
  color: #FA4616;
  margin-left: 15px;
  margin-bottom: 0;
  font-weight: 700;
}

aside.tablet .sidebar_content nav {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 70%;
  padding-bottom: 30px;
}

aside.tablet .sidebar_content nav li {
  margin-left: 0;
}

aside.tablet .sidebar_content nav li .icon_wrapper {
  position: relative;
  left: 0;
}

aside.tablet .sidebar_content nav li .icon_wrapper img {
  position: absolute;
  height: 24px;
  width: auto;
}

aside.tablet .sidebar_content nav li .icon_wrapper img.icon_hover {
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
}

aside.tablet .sidebar_content nav li:hover .icon_wrapper img.icon_hover,
aside.tablet .sidebar_content nav li.active .icon_wrapper img.icon_hover {
  opacity: 1;
  visibility: visible;
}

aside.tablet .sidebar_content nav li.dropdown {
  position: relative;
}

aside.tablet .sidebar_content nav li.dropdown::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-9px) rotate(90deg);
  width: 12px;
  height: 18px;
  background-image: url(../img/dropdown_menu.png);
  background-repeat: no-repeat;
  transition: .3s all easy;
}

aside.tablet .sidebar_content nav ul.dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100px);
  transition: .5s all ease;
}

aside.tablet .sidebar_content nav ul.dropdown li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 20px;
}

aside.tablet .sidebar_content nav ul.dropdown.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

footer.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  margin-top: 110px;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer.footer .container-fluid {
  padding: 0 65px;
}

footer.footer .footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
}

footer.footer .footer__content .logo img {
  max-width: 150px;
}

footer.footer .footer__content ul {
  margin-top: 20px;
  padding-left: 0;
}

footer.footer .footer__content ul li {
  list-style: none;
}

footer.footer .footer__content .subscribe h4,
footer.footer .footer__content li.head {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 36px;
  color: #602C83;
  font-weight: 700;
}

footer.footer .footer__content .subscribe {
  margin-top: 20px;
}

footer.footer .footer__content .subscribe form input {
  line-height: 18px;
  padding: 6.5px 14px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #ABABAB;
  border: 1px solid #ABABAB;
  border-radius: 4px;
  width: 70%;
}

footer.footer .footer__content .subscribe form button.sub {
  color: #FFFFFF;
  background: #9D71C7;
  line-height: 18px;
  padding: 8px 14px;
  border: none;
  border-radius: 3px;
  margin-left: 13px;
}

footer.footer .footer__content .follow_us {
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
}

footer.footer .footer__content .follow_us img {
  margin-top: 14px;
}

footer.footer .footer__content .copyright {
  padding-top: 46px;
  grid-column: 1/7;
  text-align: right;
}

.popup {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .5s all ease;
  background: rgba(0, 0, 0, 0.4);
  overflow: scroll;
  padding-bottom: 100px;
}

.popup .popup_content {
  width: 70%;
  margin: 0 auto;
  margin-top: 130px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  transition: .5s all ease;
}

.popup .popup_content .head {
  padding: 32px 54px;
  display: flex;
  justify-content: space-between;
  background: #FAF6FF;
}

.popup .popup_content .head h3 {
  font-size: 16px;
  line-height: 20px;
  color: #602C83;
  margin-bottom: 0;
}

.popup .popup_content .matches .item {
  border-bottom: 1px solid #D0D0D0;
  padding: 38px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup .popup_content .matches .item .item_left {
  display: flex;
  align-items: center;
}

.popup .popup_content .matches .item .desc_mob {
  display: none;
}

.popup .popup_content .matches .item .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 24px;
  height: 24px;
}

.popup .popup_content .matches .item label {
  position: relative;
  top: 6px;
}

.popup .popup_content .matches .item label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #AAB2BD;
  border-radius: 3px;
}

.popup .popup_content .matches .item .custom-checkbox:checked + label::before {
  background: #9D71C7;
}

.popup .popup_content .matches .item label:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 10px;
  position: absolute;
  left: 11px;
  top: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.popup .popup_content .matches .item img.avatar {
  margin-left: 30px;
}

.popup .popup_content .matches .item .info {
  margin-left: 20px;
}

.popup .popup_content .matches .item .info .info_row {
  display: flex;
}

.popup .popup_content .matches .item .info h3 {
  margin-bottom: 0;
  color: #602C83;
}

.popup .popup_content .matches .item .info .rating {
  margin-left: 12px;
  padding: 0px 10px;
  background: #9D71C7;
  color: #fff;
  border-radius: 3px;
  margin-right: 12px;
}

.popup .popup_content .matches .item .info p {
  margin-top: 4px;
  margin-bottom: 0;
}

.popup .popup_content .matches .item .btn_white {
  padding: 13px 37px;
  align-self: flex-end;
}

.popup .popup_content .btn_container {
  margin: 48px 0;
  text-align: center;
}

.popup .popup_content .back_to {
  padding: 17px;
  display: none;
}

.popup .popup_content .back_to a {
  position: relative;
  padding-left: 15px;
  color: #9D71C7;
}

.popup .popup_content .back_to a:after {
  content: '';
  width: 10px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 2px;
  background-image: url(../img/back.png);
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes Bell {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes Bell {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(0);
  }
}

@media screen and (max-width: 1400px) {
  footer.footer .footer__content .subscribe form input {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 13px;
  }

  header nav li {
    margin-left: 30px;
  }

  .btn_orange {
    min-width: 115px;
  }

  .btn_white {
    min-width: 125px;
  }

  main.with_sidebar {
    flex-wrap: wrap;
  }

  main.with_sidebar br.tablet {
    display: block;
  }

  main.with_sidebar .main_content {
    position: relative;
  }

  main.with_sidebar .main_content .container {
    padding: 0;
    max-width: none;
  }
  main.with_sidebar .main_content .container:first-child {
    padding: 25px;
  }

  main.with_sidebar .breadcrumbs {
    right: 35px;
  }

  main.with_sidebar .result .variant .matches .people_avatars {
    justify-content: center;
  }

  main.with_sidebar .result .variant .matches .people_avatars .human:nth-child(n+4) {
    display: none;
  }

  main.with_sidebar .result .variant .info .tag_container {
    padding-right: 35px;
  }

  main.with_sidebar .result .variant .dop_info .svg-money-dims {
    margin-left: 0;
  }

  main.with_sidebar .result .variant .dop_info img {
    margin-bottom: 6px;
  }

  main.with_sidebar .result .variant .tags .tag p {
    font-size: 11px;
  }

  main.with_sidebar .result .variant .tags .tag:nth-child(n+3) {
    display: none;
  }

  main.open_popup {
    padding-bottom: 200px;
  }

  aside {
    display: none;
  }

  aside.tablet {
    display: block;
  }

  footer.footer {
    margin-top: 70px;
  }

  footer.footer .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  }

  footer.footer .footer__content .subscribe {
    grid-column: 5/7;
  }

  footer.footer .footer__content .subscribe p br {
    display: none;
  }

  footer.footer .footer__content .logo img {
    max-width: 110px;
  }

  footer.footer .footer__content .copyright {
    grid-column: 1/6;
    grid-row: 2/3;
    text-align: left;
  }

  footer.footer .footer__content .follow_us {
    display: flex;
  }

  footer.footer .footer__content .follow_us p {
    color: #7b7b7b;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 25px;
    margin-right: 10px;
  }

  .popup {
    overflow: visible;
    height: 100%;
    height: auto;
    background: #fff;
    overflow: hidden;
    padding-bottom: 40px;
  }

  .popup .popup_content {
    overflow: hidden;
    background: #fff;
    z-index: 10;
    transform: translateX(50%);
    width: 100%;
    border-radius: 0;
    margin-top: 0;
  }

  .popup .popup_content .back_to {
    display: block;
  }

  .popup.open .popup_content {
    transform: translateX(0);
  }
}

@media screen and (max-width: 860px) {
  header .bell,
  header .msg {
    margin-right: 18px;
  }

  header nav {
    margin-left: 25px;
  }

  header nav li {
    margin-left: 15px;
  }

  main.with_sidebar {
    flex-wrap: wrap;
  }

  main.with_sidebar .result .variant {
    padding: 28px 35px;
  }

  main.with_sidebar .result .variant .matches .people_avatars {
    justify-content: center;
  }

  main.with_sidebar .result .variant .matches .people_avatars .human:nth-child(n+4) {
    display: none;
  }

  main.with_sidebar .result .variant .info {
    flex-wrap: wrap;
  }

  main.with_sidebar .result .variant .info .tag {
    margin-left: 0;
    top: -26px;
  }

  aside.tablet .sidebar_content nav {
    width: 60%;
  }

  footer.footer .container-fluid {
    padding: 0 40px;
  }

  footer.footer .footer__content {
    grid-template-columns: repeat(6, 1fr);
  }

  footer.footer .footer__content .subscribe {
    grid-column: 5/7;
  }

  footer.footer .footer__content .subscribe form {
    text-align: right;
  }

  footer.footer .footer__content .subscribe form input {
    width: 100%;
  }

  footer.footer .footer__content .subscribe form button.sub {
    margin-top: 10px;
  }

  footer.footer .footer__content .logo img {
    max-width: 100px;
  }

  footer.footer .footer__content .copyright {
    grid-column: 1/5;
  }

  footer.footer .footer__content .follow_us {
    grid-column: 5/7;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 768px) {
  header .bell,
  header .msg,
  header .my_acc,
  header nav {
    display: none;
  }

  header .toggler {
    display: flex;
  }

  header {
    padding: 25px 0;
  }
}

@media screen and (max-width: 560px) {
  body.overflow {
    position: fixed;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 16px;
    line-height: 20px;
  }

  main.with_sidebar h1 {
    margin-top: 0;
  }

  main.with_sidebar .breadcrumbs {
    display: none;
  }

  main.with_sidebar .container.fix {
    padding: 0;
  }

  main.with_sidebar .result {
    border-radius: 0;
  }

  main.with_sidebar .result .variant {
    flex-wrap: wrap;
    padding: 28px 20px;
  }

  main.with_sidebar .result .variant .matches span {
    display: none;
  }

  main.with_sidebar .result .variant .matches .people_avatars {
    display: none;
  }

  main.with_sidebar .result .variant .matches .btn_container {
    margin-top: 15px;
  }

  main.with_sidebar .result .variant .info {
    flex-wrap: wrap;
    width: 100%;
  }

  main.with_sidebar .main_content .container:first-child {
    padding-top: 30px;
    padding-bottom: 90px;
  }

  main.with_sidebar .result .variant .info .tag_container {
    width: 100%;
    text-align: right;
  }

  main.with_sidebar .result .variant .info .tag {
    margin-left: 0;
    top: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: inline-block;
  }

  main.with_sidebar .result .variant .tags {
    margin-top: 26px;
    margin-bottom: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  main.with_sidebar .result .variant .tags .tag {
    display: block;
  }

  main.with_sidebar .result .variant .tags .tag:nth-child(n+3) {
    display: none;
  }

  main.with_sidebar .result .variant .dop_info {
    display: none;
    position: static;
  }

  main.with_sidebar .result .variant .dop_info.mobile {
    display: block;
  }

  main.with_sidebar .result .variant .right_side {
    width: 100%;
  }

  main.with_sidebar .result .variant .right_side .btn_container {
    width: 100%;
    margin-top: 18px;
  }

  main.with_sidebar .result .variant .right_side .btn_container button {
    width: 50%;
    padding: 20px 0;
  }

  aside.tablet {
    display: none;
  }

  footer.footer .footer__content .logo {
    grid-column: 1/4;
    margin-bottom: 40px;
  }

  footer.footer .footer__content .logo img {
    max-width: 160px;
  }

  footer.footer .footer__content .follow_us {
    margin-top: 0;
    grid-column: 4/7;
    justify-self: flex-end;
    grid-row: 1/2;
  }

  footer.footer .footer__content .follow_us p {
    display: none;
  }

  footer.footer .footer__content .follow_us img {
    margin-top: 0;
    position: relative;
    top: -5px;
  }

  footer.footer .footer__content ul.menu_footer {
    grid-column: 1/7;
    align-self: center;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }

  footer.footer .footer__content ul.menu_footer li {
    display: none;
  }

  footer.footer .footer__content ul.menu_footer li.head {
    display: block;
    font-size: 16px;
  }

  footer.footer .footer__content .subscribe {
    grid-column: 1/7;
    text-align: center;
    margin-top: 0;
  }

  footer.footer .footer__content .subscribe h4,
  footer.footer .footer__content .subscribe p {
    font-size: 16px;
  }

  footer.footer .footer__content .subscribe form {
    text-align: center;
  }

  footer.footer .footer__content .subscribe form input {
    padding: 10px 14px;
  }

  footer.footer .footer__content .subscribe form button.sub {
    padding: 13px 43px;
  }

  footer.footer .footer__content .copyright {
    grid-row: 6/7;
    grid-column: 1/7;
    font-size: 12px;
    text-align: center;
  }

  .popup .popup_content .matches .item {
    padding: 38px 20px;
    flex-wrap: wrap;
  }

  .popup .popup_content .matches .item .info_row p {
    display: none;
  }

  .popup .popup_content .matches .item .desc_mob {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 18px;
  }

  .popup .popup_content .matches .item button {
    margin: 0 auto;
  }
}

.webp header .dropdown:after { background-image: url(../img/dropdown.webp); }

.webp .menu_mobile .dropdown a:after { background-image: url(../img/dropdown.webp); }

.webp main.with_sidebar .sort span.sort_trigger::after { background-image: url(../img/sort_btn.webp); }

.webp aside nav li.dropdown a.main_link::after { background-image: url(../img/dropdown_menu.webp); }

.webp aside nav li:hover a.main_link::after, .webp aside nav li.active a.main_link::after { background-image: url(../img/dropdown_menu_active.webp); }

.webp aside nav li.dropdown.active a::after { background-image: url(../img/dropdown_menu_active.webp); }

.webp aside.tablet .sidebar_content nav li.dropdown::after { background-image: url(../img/dropdown_menu.webp); }

.webp footer.footer { background-image: url(../img/footer.webp); }

.webp .popup .popup_content .back_to a:after { background-image: url(../img/back.webp); }